<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{name}}
    </mat-panel-title>
    <div>
      <mat-panel-title>
        <a href="javascript:void(0)" class="clear-link" (click)="clearFilter($event)">Clear</a>
      </mat-panel-title>
    </div>
    <div class="selectedFilter-label">
      <mat-panel-description>
        <small *ngIf="dropdownFilter">{{dropdownFilter | selecteddropdown: customFieldProperties.options}}</small>
        <small *ngIf="!dropdownFilter">Any</small>
      </mat-panel-description>
    </div>
  </mat-expansion-panel-header>
  <div>
    <mat-input-container floatPlaceholder="never">
      <mat-select multiple="true" floatPlaceholder="never" placeholder="Name" (change)="saveFilter()" [(ngModel)]="dropdownFilter">
        <mat-option *ngFor="let option of customFieldProperties.options" [value]="option.id">
          {{option.value}}
        </mat-option>
        <mat-option value="null">Not Set</mat-option>
      </mat-select>
    </mat-input-container>
  </div>
</mat-expansion-panel>