<mat-toolbar color="accent" class="toolbar">
  <div class="search-container">
    <button mat-icon-button (click)="goBack()"><mat-icon class="icon-20">navigate_before</mat-icon></button>

    <span *ngIf="!isNewWorkspace">
        <a (click)="isNewWorkspace=true" class="task-link border-button">{{wsData.wsname}}</a>
      </span>
    <div *ngIf="isNewWorkspace" class="search">
      <mat-input-container floatPlaceholder="never">
        <input matInput appGetFocus placeholder="Search Workspace" ng-focus="false" type="text" [(ngModel)]="name" (input)="filter()"
          [matAutocomplete]="auto" (keydown.esc)="isNewWorkspace=false" (blur)="isNewWorkspace=false">
      </mat-input-container>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let workspace of workspaces" [value]="workspace.wsname" (mousedown)="openWorkspace(workspace)" (onSelectionChange)="openWorkspace(workspace);isNewWorkspace=false;workspaces=workspacesCopy;">{{workspace.wsname}}</mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="task-search search">
    <mat-input-container floatPlaceholder="never">
      <input #TitleFilter matInput placeholder="Search in Title & Description" type="text" (input)="filterByTitleOrDesc(TitleFilter.value)">
    </mat-input-container>
  </div>
  <div style="width:100%">
      <button type="button"  mat-button #openFilterButton (click)="sidenav.toggle()" class="border-button align-right">Filters</button>
    <span class="card-button-row">
        <button *ngIf="following" (click)="followWorkSpace()" mat-icon-button class="align-right"><mat-icon mat-tooltip="Not Following! Click to Follow" class="icon-20">visibility_off</mat-icon></button>
        <button *ngIf="!following" (click)="followWorkSpace()" mat-icon-button class="align-right"><mat-icon mat-tooltip="Following! Click to UnFollow" class="icon-20">visibility</mat-icon></button>
        <button [disabled]="!_authorizationService.userCan(privilages.CAN_MANAGE_WORKSPACE_SETTINGS)" class="align-right" (click)="gotoSettings()" mat-icon-button><mat-icon mat-tooltip="Workspace Settings" class="icon-20">settings</mat-icon></button>
        <button [disabled]="!_authorizationService.userCan(privilages.CAN_MANAGE_WORKSPACE_SETTINGS)" class="align-right" (click)="gotoAnalytics()" mat-icon-button><mat-icon mat-tooltip="Analytics" class="icon-20">equalizer</mat-icon></button>       
        <button mat-icon-button id="start_button" (click)="openChatBotDialogue()" class="align-right"><mat-icon>micro</mat-icon></button>
    </span>
    
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" align="end" class="no-pad">
    <div class="filter">
      <app-task-filter (onClose)="sidenav.toggle()"></app-task-filter>
    </div>
  </mat-sidenav>
  <div class="sidenav-content">
    <button [disabled]="!_authorizationService.userCan(privilages.CAN_CREATE_TASK)" mat-fab class="fixed-button" color="accent"
      matTooltip="{{ !_authorizationService.userCan(privilages.CAN_CREATE_TASK) ? 'You cannot create a new Task!' :'Create new Task'}}"
      (click)="addNewTask()"><mat-icon>add</mat-icon></button>
    <section class="card-container">
      <div class="card-wrapper">
        <ul class="card-flex" [dragula]='"phaseBag"' [dragulaModel]='phases'>
          <app-phase [phase]="phase" *ngFor="let phase of phases; trackBy:phase?.id"></app-phase>
          <li class="card-item">
            <div style="margin:10px 10px 10px 10px" *ngIf="isNewPhase">
              <mat-input-container style="width:100%">
                <input matInput placeholder="Phase Name" name="phaseName" #newPhase required>
              </mat-input-container>
              <div class="button-row create-phase-btn text-center">
                <button mat-raised-button class="grey-button" (click)="isNewPhase=!isNewPhase">Cancel</button>
                <button mat-raised-button color="accent" [disabled]="!newPhase.value" (click)="createPhase(newPhase.value)">Create</button>
              </div>
            </div>
            <div *ngIf="!isNewPhase">
              <mat-card class="card add-new-card" matTooltip="{{ !_authorizationService.userCan(privilages.CAN_ADD_PHASE) ? 'You cannot add a new Phase!' :'Add new phase'}}">
                <button [disabled]="!_authorizationService.userCan(privilages.CAN_ADD_PHASE)" class="newphase" (click)="isNewPhase=true"
                  mat-button color="accent"><mat-icon>add</mat-icon></button>
              </mat-card>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</mat-sidenav-container>