.carditem-first{
    padding: 10px;
    border-right: 1px solid #fff;
    width: 310px;
    min-width: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50px
}
.card-container{
    height: calc(100% - 78px);
}
.card-wrapper{
    display: inline;
}
.card-flex{
    overflow-y: hidden;
    overflow-x: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*display: box;*/
    flex-flow: 1 1 auto;
    -webkit-flex-flow: 1 1 auto;
    height: calc(100% - 50px);
    background: rgba(136, 149, 220, 0.14);
}
.card-item{
    border-right: 1px solid rgba(137, 161, 186, 0.14);
    width: 310px;
    min-width: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.card-list{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 0;
}
.card-list-height{
    height: 717px;
    overflow-x: hidden;
    overflow-y: auto;
}
.mat-card{
    padding: 10px;
}
.mat-card-header .mat-card-subtitle:not(:first-child){
    margin-top: 0;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title{
    margin-bottom: 0
}
.card{
    z-index: 1;
    overflow: hidden;
}
.task-card{
    margin: 5px;
}
.card .mat-card-header{
    justify-content: space-between;
}
.example-header-image {
  background-size: cover;
}
.team-member-group{
    float: right;
    margin-top: 20px;
}
.team-member{
    margin-bottom: 0;
}
.mat-card-title-group{
    justify-content: initial;
}    
.mat-card-header-text{
    margin: 0;  
}
.mat-card.card.add-new-card{
     background: #0277bd;
    padding: 0;
}
.newphase{
    width: 100%;
    padding: 12px;
    height: 61px;
}
.newphase .mat-icon.material-icons{
    color: #fff;
}
.edit-icon-button{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
    cursor: pointer;
}
.edit-icon{
    color: #f3f3f3
}
.sidenav-container {
  width: 100%;
  height: 100%;
}
.sidenav-content {
  height: 100%;
}
.sidenav {
  padding: 20px;
  min-width: 200px;
}
.mat-sidenav {
  width: 478px;
}
.filter-container{
    padding: 10px 16px;
}
.title{
    margin-top: 10px;
    margin-bottom: 5px;
}
.task-link{
    color: #fff;
    padding-bottom: 5px;
    position: relative;
}
.task-link:after{
    content: "";
    position: absolute;
    right: -15px;
    top: 35%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;    
}
.clear-link{
    margin-left: 10px;
    font-weight: bold;
}
.mat-button-toggle-checked .material-icons{
    display: none;
}
.mat-button-toggle-checked{
    padding-left: 24px;
    padding-right: 25px;
}
.toogle-btn{
    margin-right: 16px;
}
.task-search .mat-input-container {
    width: 220px;
    margin-left: 250%;
}
.unselect-area{
    background: red;
}
.search-container{
    width: 250px;
    height: 65px;
    vertical-align: middle;
    margin-top: 26px;
}
.search{
    display: inline-block;
}
.align-right{
    float: right;
}