.team-member-options{
    margin-bottom: 10px;
}
.form .mat-input-container{
    display: block;
    margin: 15px 0;
    width: 100%;
}
.form .mat-input-container.date-input{
    display: inline-block;
    width: 30%;
}
.form .mat-input-container.priority-input{
    display: inline-block;
    width: 30%;
    margin-left: 40px;
}
.asignee-container{
    margin: 15px 0;
}
.priority{
    margin-left: 40px;
}
.proirity-selector{
    align-items: baseline;    
}
.mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger .mat-select-placeholder {
    color: #4fc3f7;
}

.mat-select-trigger .mat-select-underline,
.asignee-container .mat-select-underline,
.asignee-container .mat-select-trigger .mat-select-arrow{
    display: none;
}
.button.add-assign-btn.mat-select.mat-primary {
    text-align: center;
    border-bottom: 2px solid #0277bd;
}
.button.add-assign-btn.mat-select.mat-primary .mat-select-trigger{
    text-align: center;
    border-bottom: 2px solid ;
}

.input-container.search-container.mat-input-container{
    display: block;
    margin: 10px;
    overflow: hidden;
}
.input-container.search-container.mat-input-container .mat-input-wrapper{
    padding-bottom: 0;
}
.assignee-btn{
    margin-bottom: 10px;
    margin-top: 10px;
}
.close-button.selectbox-close-btn{
position: absolute;
    top: 19px;
    right: 15px;
    min-width: 0;
    line-height: 24px;
    padding: 0 10px;
    border-radius: 5px;
}
.mat-select-content .mat-dialog-title{
    margin-bottom: 0;
}
.button-bar{
    padding:  10px 16px;
}


.loading {    
    background-color: #ffffff;
    background-image: url(../../../assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif);
    background-size: 30px 30px;
    background-position:center;
    background-repeat: no-repeat;
}

.priority-color{
    content: " ";
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s all;
}
.mat-option:hover .priority-color{
    transition: 0.3s all;
    opacity: 0.7;
    width: 7px;
}
textarea{
    overflow: hidden;
}

.mat-dialog-container .mat-dialog-content {
    margin: 0;
    padding: 0 16px;
}
.mat-dialog-content {
    display: block;
    margin: 0 0;
    max-height: 38vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.dialog-close-button{
    margin-left: auto;
    background-color: #0376be;
}