<mat-toolbar color="primary" class="toolbar">
  <h2>Create New Task</h2>
  <button mat-icon-button [mat-dialog-close]="true" class="dialog-close-button"><mat-icon class="icon-20">close</mat-icon></button>
</mat-toolbar>
<mat-dialog-content>
  <form action="" class="form" #editTask="ngForm" name="editTask">
    <mat-input-container>
      <input matInput placeholder="Task Name" #taskTitle name="title" value="" [(ngModel)]="task.title" #title="ngModel" required>
      <mat-error *ngIf="title.errors && title.errors.required">Task Title is <strong>required</strong></mat-error>
    </mat-input-container>
    <mat-input-container>
      <textarea #textArea id="textArea"  matTextareaAutosize matInput placeholder="Description" name="description" value="" [(ngModel)]="task.description"></textarea>
    </mat-input-container>
    <div class="proirity-selector">
      <mat-form-field class="date-input">
        <input matInput [matDatepicker]="picker" name="dueDate" placeholder="Due Date" [(ngModel)]="task.dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
        <mat-form-field class="priority-input">
        <mat-select placeholder="Priority" name="priority" [(ngModel)]="task.priority">
            <mat-option *ngFor="let priority of priorities" [value]="priority.priority" required>
              <div [ngStyle]="{'background': priority.color}" class="priority-color"></div>
              {{priority.level}}
            </mat-option>
          </mat-select>
      </mat-form-field>



    </div>
  </form>
  <div class="asignee-container">
    <mat-input-container class="full-width">
      <input matInput #autoCompleteInput placeholder="Assigned to" ng-focus="false" [(ngModel)]="name" type="text" (input)="filter()"
        [matAutocomplete]="auto">
    </mat-input-container>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let User of Users" (onSelectionChange)="selectUser(User)">
        <img src="{{User.profile}}" alt="" class="profile-img"> {{ User.firstname }} {{ User.lastname }}
      </mat-option>
    </mat-autocomplete>
    <ul class="selected-options">
      <mat-chip-list class="selected-member">
        <mat-chip color="primary" selected="true" *ngIf="!selected">
          <img src="{{selectedUser.profile}}" alt="" class="profile-img round-img">
          <span>{{selectedUser.firstname}} {{selectedUser.lastname}}</span>
          <button mat-icon-button><mat-icon class="delete-icon" (click)="deleteUser()">cancel</mat-icon></button>
        </mat-chip>
      </mat-chip-list>
    </ul>
  </div>
</mat-dialog-content>
<hr>
<div class="bottom-toolbar button-bar text-center">
  <button mat-raised-button (click)="saveTask()" [disabled]="!editTask.valid" class="button grey-button">Save</button>
  <button mat-raised-button (click)="saveAndEditTask()" [disabled]="!editTask.valid" class="button" color="primary">Continue</button>
</div>