<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="col-12 col-md-10">
      <h2> Task Report </h2>
    </div>

    <div class="col-12 col-md-10">
      <mat-form-field>
        <input matInput (dateChange)="selectedFromDate(picker)" [max]="toDate" [matDatepicker]="picker" [(ngModel)]="fromDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput (dateChange)="selectToDate(picker1)" [min]="fromDate" [matDatepicker]="picker1" [(ngModel)]="toDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>


      <mat-form-field>
        <mat-select multiple="true" floatPlaceholder="never" [(ngModel)]="wsIds" (change)="workSpaceFilter($event)" placeholder="Work Space">
          <mat-option *ngFor="let ws of workSpaceArray" [value]="ws.wsId">
            {{ws.WorkspaceName}}
          </mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search Task Title" value="" [(ngModel)]="taskTitle">
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" (click)="applyFilter()">Apply Filter</button>
        <button mat-raised-button color="primary" (click)="clearFilter()">Clear Filter</button>
      </div>
      <div class="row">
        <div class="col-md-6">
          <br>
        </div>
      </div>
    </div>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
        <!-- WorkSpace Name Column -->
        <ng-container matColumnDef="wsName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> WorkSpace Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.workSpaceName}} </mat-cell>
        </ng-container>
        <!-- Task Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Task Title </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>
        <!-- WorkSpace Assignee Column -->
        <ng-container matColumnDef="Assignee">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Assignee </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.assignee}} </mat-cell>
        </ng-container>
        <!-- Start Date Column -->
        <ng-container matColumnDef="startTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.startTime | amUtc | amDateFormat:'DD-MM-YYYY '}} </mat-cell>
        </ng-container>
        <!-- Stop Date Column -->
        <ng-container matColumnDef="stopTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Stop Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.stopTime | amUtc | amDateFormat:'DD-MM-YYYY '}} </mat-cell>
        </ng-container>
        <!-- Ellipse Column -->
        <ng-container matColumnDef="ellipseTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ellipse Time </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.consumedTime}} </mat-cell>
        </ng-container>
        <!-- Created On Column -->
        <ng-container matColumnDef="createdOn">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Task Created Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdOn | amUtc | amDateFormat:'DD-MM-YYYY '}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event; onPaginateChange($event)">
      </mat-paginator>
    </div>
    <div class="col-8">
      <button mat-raised-button color="primary" style="margin-top:10px;float: right" (click)="exportToCSV()">Export To CSV</button>
    </div>
  </div>

</div>