<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{name}}
    </mat-panel-title>
    <div>
      <mat-panel-title>
        <a href="javascript:void(0)" class="clear-link" (click)="clearFilter($event)">Clear</a>
      </mat-panel-title>
    </div>
    <div class="selectedFilter-label">
      <mat-panel-description>
        <small>{{textValue ? textValue : 'Any'}}</small>
      </mat-panel-description>
    </div>
  </mat-expansion-panel-header>
  <div>
    <mat-input-container floatPlaceholder="never">
      <input matInput placeholder="Search in {{name}}" [(ngModel)]="textValue" type="text" (input)="saveFilter()">
    </mat-input-container>
  </div>
</mat-expansion-panel>