<li class="card-item">
  <mat-card class="card handle">
    <mat-card-header class="handle">
      <div>
        <mat-card-title style="cursor:pointer">
          <h4 (click)="phaseTitleEdit=!phaseTitleEdit" *ngIf="!phaseTitleEdit" class="phase-heading">{{phase.name}}</h4>
          <div *ngIf="phaseTitleEdit">
            <mat-input-container class="full-width">
              <input matInput appGetFocus placeholder="Phase Title" name="title" value="{{phase.name}}" (keyup.enter)="updatePhaseName(phaseValue.value,phase._id);phaseTitleEdit=!phaseTitleEdit"
                (keyup.esc)="phaseTitleEdit=!phaseTitleEdit" (blur)="phaseTitleEdit=!phaseTitleEdit" #phaseValue required>
            </mat-input-container>
          </div>
        </mat-card-title>
        <mat-card-subtitle *ngIf="!phaseTitleEdit">{{tasks.length}} Tasks</mat-card-subtitle>
      </div>
      <div class="phase-menu">
        <span>
          <button *ngIf="phase.canAddTask" [disabled]="!_authorizationService.userCan(privilages.CAN_CREATE_TASK)" mat-icon-button
            color="accent" matTooltip="{{ !_authorizationService.userCan(privilages.CAN_CREATE_TASK) ? 'You cannot create a new Task!' :'Create new Task'}}"
            (click)="addNewTask()">
            <mat-icon>add_circles</mat-icon>
          </button>
        </span>
        <span class="alternate-theme">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button [disabled]="!_authorizationService.userCan(privilages.CAN_EDIT_PHASE)" mat-menu-item (click)="gotoPhaseSettings()">
              <mat-icon class="icon-20" color="accent">edit</mat-icon>
              <span>Edit</span>
            </button>
            <button [disabled]="!_authorizationService.userCan(privilages.CAN_DELETE_PHASE)" mat-menu-item (click)="deletePhase(phase._id)">
              <mat-icon class="icon-20" color="accent">delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </span>
      </div>
    </mat-card-header>
  </mat-card>
  <p class="message" *ngIf="!tasks.length && !loading">Create new task</p>
  <div class="card-list unselect-area">
    <div class="card-list-height" [dragula]='"taskBag"' [dragulaModel]='tasks' [attr.phasename]="phase.name" id="{{phase._id}}"
      infiniteScroll (scrolled)="showMore()" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" [scrollWindow]="false">
      <div class="timeline-wrapper" *ngIf="loading; else apptask">
        <div class="timeline-item">
          <div class="pull-left">
            <div class="animated-background animated-content"></div>
            <div class="animated-background animated-content"></div>
            <div class="animated-background animated-content"></div>
          </div>
          <div class="pull-right"></div>
          <div class="animated-background animated-image"></div>
        </div>
      </div>
      <app-tasks #apptask id="{{task._id}}" [task]="task" [phase]="phase" *ngFor="let task of tasks |  slice:0 : Limit"></app-tasks>
    </div>
  </div>
</li>