.card.mat-card{
    min-height: 61px;
}
.card{
    z-index: 1;
}
.carditem-first{
    padding: 10px;
    border-right: 1px solid #fff;
    width: 310px;
    min-width: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50px
}
.card-container{
    height: calc(100% - 78px);
}
.card-wrapper{
    display: inline;
}
.card-flex{
    overflow-y: hidden;
    overflow-x: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*display: box;*/
    flex-flow: 1 1 auto;
    -webkit-flex-flow: 1 1 auto;
    height: calc(100% - 50px);
    background: rgba(136, 149, 220, 0.14);
}
.card-item{
        border-right: 1px solid rgba(137, 161, 186, 0.14);
    width: 310px;
    min-width: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
    height: 100%;
}
.card-list{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 0;
}
.card-list-height{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.mat-card{
    padding: 10px;
}
.mat-card-header .mat-card-subtitle:not(:first-child){
    margin-top: 0;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title{
    margin-bottom: 0
}

/* .card .mat-card-header{
    justify-content: space-between;
} */
.example-header-image {
  background-size: cover;
}
.team-member-group{
    float: right;
    margin-top: 20px;
}
.team-member{
    margin-right: 7px;
    margin-bottom: 0;
}
.mat-card-title-group{
    justify-content: initial;
}
.mat-card-header-text{
    margin: 0;  
}
/* .mat-card.card.add-new-card{
    background: #0091EA;
    padding: 0;
} */
.newphase{
    width: 100%;
    padding: 12px;
}
.newphase .mat-icon.material-icons{
    color: #fff;
}
.phase-menu{
    position: absolute;
    right: 0;
}
.message{
    margin-top: 50px;
}
.timeline-item{
    min-height: 62px;
}
.animated-content{
    width: 200px;
    margin-bottom: 8px;
}
.animated-image{
    margin-top: 0;
}