.task-name{
    cursor: pointer;
    font-size: 16px;
}
.task-edit-icon{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
}
.task-name-container .task-name:hover .task-edit-icon{
    visibility: visible;
    opacity: 1;
    transition: 0.3s all;
}
h4{
    color: #adbabf;
    margin-bottom: 15px;
}
.selected-options li{
    margin: 5px;
    display: inline-block;
}
.clear-link{
    margin-left: 10px;
    font-weight: bold;
}
.filter-container{
    padding: 10px 16px;
}
.date-container ul li{
    display: inline-block;
    width: 49%;
}
.button-row{
    padding: 16px 0;
}
.filter-container > ul > li{
    display: inline-block;
}

.mat-option .mat-icon{
    margin-right: 0;
}
.mat-option{
    color: #fff;
}