<div class="col-md-12 text-center">
  <h2 class="page-heading">Tags Settings</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="col-sm-12">
        <app-tags></app-tags>
        <form class="form">
          <mat-form-field class="full-width">
            <input matInput placeholder="Tags Name">
          </mat-form-field>
        </form>
        <h6 class="small-title">Select Tag color</h6>
        <div class="color-container">
          <ul class="predefine-color">
            <li  class="custom-color-tag tag"><span>Choose Custom Color</span>
            </li>
            <li><button mat-raised-button><mat-icon>add</mat-icon>Create New Tag</button></li>
          </ul>
        </div>
        <hr>
        <div class="button-row bottom-toolbar text-center">
          <button mat-raised-button class="button grey-button">Cancel</button>
          <button mat-raised-button class="button" color="primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>