.input-full-width{
    display: inline;
    
}
.mat-input-flex .mat-input-infix{
    padding-left: 10px;
    padding-right: 10px;
}
  .prefix-icon.material-icons{
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 22px;
}

/* .form-message-container{
  height: 320px;
}
.form-message-content{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.form-message-container {
  font-size: 45px;
} 
.form-message-container .message-title{
  margin-top: 10px;
} */
 .form {
  padding: 10px 16px ;
}
.button{
  margin-top: 20px;
}