<mat-toolbar color="primary" class="task-edit-toolbar toolbar">
  <h2 class="dialog-title">Forgot Password</h2>
  <button mat-icon-button [mat-dialog-close]="true" class="dialog-close-button"><mat-icon class="icon-20">close</mat-icon></button>
</mat-toolbar>
<div *ngIf="!isMailSent">
  <form action="" #form="ngForm"  class="form">
    <mat-input-container class="input-full-width">
      <mat-icon matPrefix class="prefix-icon">person</mat-icon>
      <input matInput type="text" placeholder="Email" value="" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <mat-error *ngIf="email.errors && email.errors.required">Email is <strong>required</strong></mat-error>
      <mat-error *ngIf="email.errors && email.errors.pattern">Email address is <strong>Not Valid</strong></mat-error>
    </mat-input-container>
    <mat-error>{{errMsg}}</mat-error>
  </form>
  <hr>
  <div class="bottom-toolbar send-button">
    <button mat-raised-button color="accent" class="button full-width-btn" (click)="forgotPassword()" [disabled]="form.invalid">Send Email</button>
  </div>
</div>
<div>
  <div class="row" *ngIf="isMailSent">
    <div class="form-message-container text-center">
      <div class="form-message-content">
        <i class="fa fa-smile-o" aria-hidden="true"></i>
        <mat-icon class="icon-50">mood</mat-icon>
        <h5 class="message-title">Thank you</h5>
        <p>Check your inbox for email</p>
        <button mat-raised-button color="primary" (click)="closeDialogue()">ok</button>
      </div>
    </div>
  </div>