<div class="social-login-conainer">
  <p class="text-center">Alternatively, you can login using:</p>
  <div class="button-row social-button">
    <button mat-raised-button class="google-button button full-width-btn" (click)="onGoogleLoginClick()">Google</button>
    <button mat-raised-button class="facebook-button button full-width-btn" (click)="onFacebookLoginClick()">Facebook</button>
  </div>