input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  color: #0277bd;
  width: 100%;
  height: 100%;
}
.button-row{
  padding: 10px 16px;
  text-align: right;
}
.button-title{
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}