<mat-toolbar color="primary" class="task-edit-toolbar toolbar">
  <h2 class="edit-task-title dialog-title">Create profile picture</h2>
  <button mat-icon-button [mat-dialog-close]="true" class="dialog-close-button"><mat-icon class="icon-20">close</mat-icon></button>
</mat-toolbar>
<div>
  <div *ngIf="!isUpload" class="text-center">
    <div style="height:300px;">
      <label class="custom-file-upload">
        <input type="file" (change)="fileChangeListener($event)"/>
        <span class="button-title"><mat-icon color="primary">add</mat-icon> Upload Photo</span>
      </label>
    </div>
    <div class="bottom-toolbar button-row">
      <button mat-raised-button class="grey-button" (click)="cancelImageUploading()">Cancel</button>
    </div>
  </div>
  <div *ngIf="isUpload">
    <img-cropper #cropper [image]="data1" [settings]="cropperSettings1"></img-cropper>
    <br>
    <div class="bottom-toolbar button-row">
      <button mat-raised-button class="grey-button" (click)="cancelImageUploading()">Cancel</button>
      <button (click)="uploadImage()" mat-raised-button color="primary">save</button>
    </div>
  </div>
</div>