.toolbar{
    margin-bottom: 10px;
}
.mat-dialog-container {
    max-width: 500px;
}
.color-container {
    overflow: hidden;
}
.tag {
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
    color: #fff;
}
/* .predefine-color li.selected-label {

} */
.predefine-color .tag .material-icons{
    float: right;
}
.predefine-color .tag .material-icons.show-icon{
    display: block;
}
.predefine-color .tag .material-icons.hide-icon{
    display: none;
}
.custom-color-tag span {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.button-bar {
    padding: 10px 16px;
    border-top: 1px solid #e2e2e2;
}