<mat-toolbar color="primary" class="toolbar">
  <h5>Create Tag</h5>
  <button mat-icon-button class="dialog-close-button" (click)="closeDialog()"><mat-icon class="icon-20">close</mat-icon></button>
</mat-toolbar>
<div class="col-sm-12">
  <form class="form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Tags Name" name="tagname" [(ngModel)]="tag.tagName">
    </mat-form-field>
  </form>
  <h6 class="small-title">Select Tag color</h6>
  <div class="color-container">
    <ul class="predefine-color">
      <li class="tag" *ngFor="let color of colors" [ngStyle]="{'background-color': color}" (click)="selectColor(color)">
        <i [ngClass]="{'hide-icon' : color != tag.color }" class="material-icons ">done</i></li>
      <li [ngStyle]="{'background-color': customColor}" [(colorPicker)]="customColor" (colorPickerSelect)="selectColor(customColor)"
        class="custom-color-tag tag" [cpPosition]="'right'" [cpOKButton]="'true'" [cpOKButtonText]="'Save'"
        [cpPositionOffset]="'10%'"><span>Choose Custom Color</span>
        <i [ngClass]="{'hide-icon' : customColor != tag.color }" class="material-icons">done</i>
      </li>
    </ul>
  </div>
</div>
<div class="bottom-toolbar button-bar text-center">
  <button mat-raised-button class="button grey-button" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button class="button" color="primary" (click)="saveTag()">Add Tag</button>
</div>