.input-full-width{
    display: inline;
}
.mat-input-flex .mat-input-infix{
    padding-left: 10px;
    padding-right: 10px;
}
  .prefix-icon.material-icons{
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 22px;
}

.toolbar .edit-task-title{
    display: inline-block;
    margin-right: 10px;
}
  .task-edit-toolbar{
    margin-bottom: 15px;
}