<mat-toolbar color="primary" class="task-edit-toolbar">
  <h2 class="edit-task-title dialog-title">New Password</h2>
  <button mat-button [mat-dialog-close]="true" class="close-button dialog-close-button"><mat-icon>close</mat-icon></button>
</mat-toolbar>
<div *ngIf="isValidUrl">
  <form action="" #form="ngForm" (ngSubmit)="createPassword()">
    <mat-input-container class="input-full-width" style="margin-top: 40px;">
      <mat-icon matPrefix class="prefix-icon">lock</mat-icon>
      <input matInput placeholder="New Password" type="password" name="password" required minlength="3" maxlength="24" [(ngModel)]="user.password"
        #password="ngModel" reverse="true" appEqualValidator="confirmPassword">
      <mat-error *ngIf="password.errors && password.errors.required">Password is <strong>required</strong></mat-error>
      <mat-error *ngIf="password.errors && password.errors.minlength">Password must be at least 3 characters long.</mat-error>
      <mat-error *ngIf="password.errors && password.errors.maxlength">Password cannot be more than 24 characters long</mat-error>
    </mat-input-container>
    <mat-input-container class="input-full-width" style="margin-top: 40px;">
      <mat-icon matPrefix class="prefix-icon">lock</mat-icon>
      <input matInput placeholder="Confirm Password" type="password" name="confirmPassword" required minlength="3" maxlength="24"
        [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" appEqualValidator="password" reverse="false">
      <mat-error *ngIf="confirmPassword.errors && confirmPassword.errors.required">Confirm Password is <strong>required</strong></mat-error>
      <mat-error *ngIf=" (confirmPassword.errors || confirmPassword.pristine)"> Password did not match</mat-error>
    </mat-input-container>
    <button mat-raised-button color="accent" [disabled]="form.invalid" class="button full-width-btn">Create Password</button>
  </form>
</div>
<div class="row" *ngIf="!isValidUrl">
  <div class="form-message-container text-center">
    <div class="form-message-content">
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <mat-icon class="icon-50">mood</mat-icon>
      <h5 class="message-title">Sorry</h5>
      <p>Sorry May be link is expired or Already used </p>
      <button mat-raised-button color="primary" (click)="closeDialogue()">ok</button>
    </div>
  </div>
</div>