<div class="col-md-12 text-center">
  <h2 class="page-heading">Phase Settings</h2>
  <div class="border"></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div *ngIf="loading" class="loader-content">
        <mat-spinner></mat-spinner>
      </div>
      <div class="wrapper">
        <div class="phase-setting" *ngIf="!loading">
          <div class="col-md-3 no-pad">
            <div class="phase-list">
              <div class="vertical-tab">
                <ul>
                  <li *ngFor="let phase of allphases"><button [ngClass]="{'active' : currentPhase._id === phase._id}" (click)="currentPhase = phase; getActionValues();"
                      mat-button>{{phase.name}}</button></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 no-pad col-md-offset-1">
            <div class="setting-wrapper">
              <form class="form">
                <h4>Phase Name</h4>
                <mat-input-container class="full-width">
                  <input matInput placeholder="Phase Name" name="PhaseName" [(ngModel)]="currentPhase.name">
                </mat-input-container>
                <div class="popover-container">
                  <h4 class="title">Move Tasks From
                    <span class="qs">? <span class="popover-content above">Select phases from where you want to allow tasks to be moved over here.</span></span>
                  </h4>
                </div>
                <section>
                  <ul class="checkbox-conainer">
                    <li *ngFor="let phase of workspace.phases">
                      <mat-checkbox name="{{phase.name}}" [indeterminate]="currentPhase._id === phase._id" [disabled]="currentPhase._id === phase._id"
                        (change)="onAction(phase)" [(ngModel)]="phase.isChecked">{{phase.name}}</mat-checkbox>
                    </li>
                  </ul>
                  <hr>
                  <ul class="checkbox-conainer">
                    <h4 class="title">Other Actions</h4>
                    <li>
                      <mat-checkbox name="isEndOfProcess" [(ngModel)]="currentPhase.isEndOfProcess">This phase is end of Process!</mat-checkbox>
                    </li>
                    <li>
                      <mat-checkbox name="canAddTask" [(ngModel)]="currentPhase.canAddTask">Allow Creating Cards here</mat-checkbox>
                    </li>
                  </ul>
                </section>
              </form>
              <div class="button-bar">
                <button class="button grey-button mat-raised-button" color="primary" (click)="savePhase()" mat-raised-button>Save</button>
                <button class="button grey-button mat-raised-button" mat-raised-button (click)="cancelSettings()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>