.phase-setting{
    z-index: 10;
    overflow: hidden;
}
.setting-wrapper{
    overflow: hidden;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
    border-left: 1px solid #ecf1f8;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.title{
  color: #838280;
}
/* .form{
    padding: 20px;
} */
.button-bar{
    padding: 20px 0;
}
/* .phase-list .title {
    background: #f2f5f7;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
} */
.vertical-tab{
    /* background: #333; */
    height: 100%;
    overflow: hidden;
}

.vertical-tab ul li button{
    width: 100%;
    padding: 5px;
    color: #0277bd;
    font-weight: bold;
    font-size: 17px;
    position: relative;
    display: block;
    /* margin-bottom: -1px; */
    position: relative;
}
.vertical-tab ul li button.active{
    background-color: #0277bd;
    color: #fff;
}
.checkbox-conainer li {
    margin-bottom: 5px;
}
/* button:last-child{
    border-bottom: 0 none;
} */
.popover-container .material-icons {
    margin-left: 5px;
}
/* .card-container{
    position: absolute;
    left: 0;
    top: 0;
} */
/* .card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.popover-content{
    margin-bottom: 0;
} */

/* The element to hover over */
.qs {
    background-color: #0277bd;
    border-radius: 16px;
    color: #e3fbff;
    cursor: default;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    position: relative;
    text-align: center;
    width: 15px;
    cursor: help;
  }
  .qs .popover-content {
    display: none;    
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    bottom: -28px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 12px;
    left: 28px;
    position: absolute;
    width: 200px;
    z-index: 4;
  }
  .qs .popover-content:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid rgb(38, 38, 38); 
    top: 18px;
    content: '';
    display: block;
    left: 0;
    margin-left: -7px;
    position: absolute;
  }
  .qs:hover .popover-content {
    display: block;
    -webkit-animation: fade-in .3s linear 1, move-left .3s linear 1;
    -moz-animation: fade-in .3s linear 1, move-left .3s linear 1;
    -ms-animation: fade-in .3s linear 1, move-left .3s linear 1;
  }
  
  @-webkit-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes move-left {
    from {
      left: 50px;
    }
    to {
      right: 36px;
    }
  }
  @-moz-keyframes move-left {
    from {
      left: 50px;
    }
    to {
      right: 36px;
    }
  }
  @-ms-keyframes move-left {
    from {
      left: 50px;
    }
    to {
      right: 36px;
    }
  }
  .loader-content{
    margin-top: 100px;
  }
  .loader-content .mat-spinner{
    margin: 0 auto;
  }