.member-container{
    overflow: hidden;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #0288d1;
    border-color: #0288d1;
}
.mat-form-field{
    width: 100px;
}
.media-heading{
    margin-top: 13px;
    margin-right: 10px;
}
.media-body{
    padding-bottom: 15px;
    padding-left: 20px;
    width: 100%;
}
.mat-card{
    padding: 0;
    margin-bottom: 20px;
}
.media-left.image-container{
    /* border-right: 1px solid #ecf1f8; */
    padding: 0 20px 0 20px;
    border-right: 1px solid #ecf1f8;
    background: #f7f7f7;
}
.media-left.image-container,.media-left.button-container {
    vertical-align: middle;
}
.media-left.button-container{
    padding: 0 10px;
}
.profile-img{
    width: 50px;
    height: 50px;
}
.task-edit-icon{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
}
 .role-name:hover .task-edit-icon{
    visibility: visible;
    opacity: 1;
    transition: 0.3s all;
}
.role-name{
    cursor: pointer;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
    min-width: 35px;
}