<mat-card>
  <div class="media">
    <div class="media-left image-container">
      <img [src]="member.user.profile" class="media-object profile-img">
    </div>
    <div class="media-body alternate-theme">
      <h4 class="media-heading">{{member.user.firstname}} {{member.user.lastname}}</h4>
      <div *ngIf="!RoleEdit">
        <a href="javascript:void(0)" class="role-name" (click)="RoleEdit = !RoleEdit"><strong>Role</strong>
            <span class="task-edit-icon"><mat-icon class="icon-20" color="accent">edit</mat-icon></span></a>
        <p style="margin:0;"><small>{{member.role.roleName}}</small></p>
      </div>
      <div *ngIf="RoleEdit" class="asignee-container">
        <form>
          <mat-form-field>
            <input type="text" placeholder="Assign Role" matInput name="Role" value="{{member.role.roleName}}" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="selectedRole=role" *ngFor="let role of roles" [value]="role.roleName">
                {{ role.roleName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <div class="button-row text-center assignee-btn">
          <button mat-raised-button class="button grey-button" (click)="RoleEdit=!RoleEdit">Cancel</button>
          <button mat-raised-button class="button" color="accent" (click)="save();RoleEdit=!RoleEdit">Save</button>
        </div>
      </div>
    </div>
    <div class="media-left button-container">
      <button *ngIf="showDeleteButton" (click)="delMember()" class="card-button mat-icon-button" mat-icon-button>
          <mat-icon class="delete-icon red-icon" mat-tooltip="Delete">delete</mat-icon>
        </button>
    </div>
  </div>
</mat-card>