<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="page-heading">Profile</h2>
    </div>
    <div class="col-sm-8 col-sm-offset-2">

      <div class="profile-detail">
        <div class="choose-file">
          <img src="{{user.profile}}" class="uploaded-image">
          <!-- start-animation -->
          <div class="timeline-wrapper" *ngIf="isRefreshing">
            <div class="timeline-item">
              <div class="row">
                <div class="animated-background animated-content"></div>
              </div>
            </div>
          </div>
          <!-- end-animation -->
       
          <div>
            <span class="profile-btn" (click)="imageUploadDialogue()"><mat-icon>camera_enhance</mat-icon> Change Photo</span>
          </div>
        </div>

        <div class="edit-detail">
          <h3 class="user-name">{{username}}</h3>
          <form action="" #form="ngForm" (ngSubmit)="updateProfile()" class="form">
            <mat-input-container class="full-width">
              <mat-icon matPrefix class="prefix-icon">person</mat-icon>
              <input matInput placeholder="Your First Name" value="" type="text" required minlength="4" maxlength="24" name="firstname"
                [(ngModel)]="user.firstname" #fname="ngModel">
              <mat-error *ngIf="fname.errors && fname.errors.required">Firstname is <strong>required</strong></mat-error>
              <mat-error *ngIf="fname.errors && fname.errors.minlength"> Firstname must be at least 4 characters long.</mat-error>
              <mat-error *ngIf="fname.errors && fname.errors.maxlength">Firstname cannot be more than 24 characters long.</mat-error>
            </mat-input-container>
            <mat-input-container class="full-width">
              <mat-icon matPrefix class="prefix-icon">person</mat-icon>
              <input matInput placeholder="Your Last Name" type="text" name="lastname" required minlength="4" maxlength="24" [(ngModel)]="user.lastname"
                #lname="ngModel">
              <mat-error *ngIf="lname.errors && lname.errors.required">Lastname is <strong>required</strong></mat-error>
              <mat-error *ngIf="lname.errors && lname.errors.minlength">Lastname must be at least 4 characters long.</mat-error>
              <mat-error *ngIf="lname.errors && lname.errors.maxlength">Lastname cannot be more than 24 characters long.</mat-error>
            </mat-input-container>
            <a href="javascript:void(0)" (click)="changePassword()" class="change-password"><strong>Change Password</strong></a>
            <div class="button-row">
              <button mat-raised-button color="accent" class="button" [disabled]="form.invalid">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>