/* .choose-file{
    position:relative;
    display:inline-block;    
	border-radius:5px;
    border:#ebebeb solid 1px;
    width: 150px; 
    height: 150px;
    padding: 4px 6px 4px 8px;
    margin-top: 20px;
	background:white;
    cursor: pointer;
}
.change-avatar-conainer{
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
.choose-file .image-upload{
    -webkit-appearance:none; 
    position:absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity:0; 
    margin: 0 auto;
}
.choose-file .account-circle {
    font-size: 110px;
    position: relative;
}

.uploaded-image{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
}

.remove-link{
    display: block;
    margin-top: 10px;
}
.login-toolbar{
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow:2px 6px 12px -6px rgba(0,0,0,0.6);
    -moz-box-shadow:2px 6px 12px -6px rgba(0,0,0,0.6);
    box-shadow:2px 6px 12px -6px rgba(0,0,0,0.6);
}
.login-toolbar h1{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.tab-wrapper{
    margin-top: 50px;
    background: #fff;
    -webkit-box-shadow:  0 0 26px 2px #d8d8d8;
    -moz-box-shadow:  0 0 26px 2px #d8d8d8;
    box-shadow:  0 0 26px 2px #d8d8d8;
    border: 1px solid #0277bd;
    border-top: 4px solid #0277bd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
form{
    padding: 25px;
}
.input-full-width{
    display: inline;
}
.mat-input-flex .mat-input-infix{
    padding-left: 10px;
    padding-right: 10px;
}
.login-page-link{
    font-size: 15px;
    text-decoration: none;
    color: #0277bd;
    margin: 5px 0;
    display: block;
}
.login-page-link:hover{
    text-decoration: underline;
}
.prefix-icon.material-icons{
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 22px;
} */
.choose-file{
    position:relative;
	border-radius:5px;
    width: 150px; 
    height: 150px;
    margin-top: 20px;
	background:white;
    cursor: pointer;
    margin-bottom: 10px;
}
.change-avatar-conainer{
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
.choose-file .image-upload{
    -webkit-appearance:none; 
    position:absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity:0; 
    margin: 0 auto;
    z-index: 3;
}
.choose-file .account-circle {
    font-size: 110px;
    position: relative;
}
.uploaded-image{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
}
.choose-file:hover .profile-btn{
    visibility: visible;
    opacity: 1; 
    transition: 0.5s all;
}

.progress-container{
    height: 100%;
    background: #fff;
    position: relative;
    top: 0;
    z-index: 111;
}
.progress-container .spinner{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.profile-detail{
    display: flex;
    justify-content: center;
}
.profile-detail .edit-detail{
    margin-left: 60px;
    margin-top: 20px;
}

.edit-detail{
    border-style: solid;
    border-left-width: 1px;
    padding-left: 50px;
    border-right-width: 0;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
}
.form{
    margin-top: 20px;
}
.change-password{
    margin: 10px 0;
    display: inline-block;
}
.profile-image{
    position: relative;
}
.profile-btn{
    visibility: hidden;
    opacity: 0;    
    transition: 0.5s all;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #939393;
    width: 150px;
    padding: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
    color: #fff;
}
.timeline-item{
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: none;
    border: 0 none;
}
.animated-content {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}