.vertical-tab{
    /* background: #333; */
    height: 100%;
    overflow: hidden;
}
.vertical-tab ul li{
    display: inline-block;
    width: 100%;
}
.button{
    border: 1px solid #BABABA;
    box-shadow: 0 1px 1px #BABABA;
    width: 100%;
    padding: 10px;
    background: #fff;
    text-align: center;
    cursor: pointer;    
    transition: 0.3s all;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    
}
.button:hover{
    transition: 0.3s all;
    background: #efefef;
}
.setting-wrapper{
    padding: 10px;
    /* overflow: hidden; */
    /* border: 1px solid #eeeeee; */
    /* border-left: 1px solid #ecf1f8; */
    border: 1px dashed grey;
}
.setting-wrapper .button{
    text-align: start;
}
.button-row{
    position: absolute;
    right: 0;
    top: 0;
}