<div class="col-md-12 text-center">
  <h2 class="page-heading">Custom Field Settings</h2>
  <div class="border"></div>
</div>
<div class="clearfix"></div>
<div class="container-fluid">
  <div class="row">
    <div class="wrapper">
      <div class="col-md-2 col-sm-4">
        <div class="vertical-tab no-drop">
          <ul [dragula]='"fieldBag"'>
            <li id="textbox">
              <div class="button" (click)="newTextBox()">Text Box</div>
            </li>
            <li id="textarea">
              <div class="button" (click)="newTextArea()">Multi Line Text Box</div>
            </li>
            <li id="dropdown">
              <div class="button" (click)="newDropDown()">Drop Down Box</div>
            </li>
            <li id="checklist">
              <div class="button" (click)="newCheckList()">Check List</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <ul class="setting-wrapper" [dragula]='"fieldBag"'>
          <li class="no-drag" *ngFor="let field of fields" (click)="openCustomField(field)">
            <div class="button">
              {{field.name}}
              <div class="button-row">
                <button mat-icon-button (click)="deleteCustomField(field._id, $event)"><mat-icon>delete</mat-icon></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div #content></div>