.setting-container,.setting-field{
    height: 100%;
}
.field-container{
    padding: 10px;
}
.setting-field{
    height: 500px;
    overflow-x: auto;
}
.setting-container{
    box-shadow: 2px 0px 10px #b1b1b1;
    background: #ececec;
}
.task-name{
    cursor: pointer;
    font-size: 16px;
}
.task-edit-icon{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
}
.task-name-container .task-name:hover .task-edit-icon{
    visibility: visible;
    opacity: 1;
    transition: 0.3s all;
}
.button-container{
    position: absolute;
    right: 0;
}
.output-container,.inner-container,.outer-container{
    height: 100%;
}
.outer-container{
    display: table;
    width: 100%;
}
.inner-container{
    display: table-cell;
    vertical-align: middle;
}
.button-row{
    padding-top: 20px;
}