<div class="col-sm-6 col-md-4 no-pad setting-container">
  <div class="title text-center">
    <h4>Create Custom Text Field</h4>
  </div>
  <hr>
  <div class="setting-field">
    <div class="field-container">
      <form>
        <h5>Field Name</h5>
        <mat-form-field class="full-width">
          <input matInput name="field" [(ngModel)]="customField.name" placeholder="Field Name">
        </mat-form-field>
      </form>
    </div>
    <hr>
    <div class="field-container">
      <mat-form-field class="full-width">
        <textarea matInput [rows]="3" name="description" [(ngModel)]="customField.description" placeholder="Description"></textarea>
      </mat-form-field>
    </div>
    <hr>
    <div class="field-container">
      <mat-slide-toggle [(ngModel)]="customField.isHelpTextEnabled">Help?</mat-slide-toggle>
      <a href="javscript:void(0)" popover="Hint for user about what details needs to be added in the field!" popoverTitle="Help!!"
        popoverPlacement="right" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="false" [popoverDisabled]="false" [popoverAnimation]="true">
        <mat-icon>help</mat-icon>
      </a>
      <mat-form-field class="full-width">
        <input matInput name="helptext" [(ngModel)]="customField.helpText" placeholder="Help">
      </mat-form-field>
    </div>
    <hr>
    <div class="field-container">
      <h5> Maximum no of characters </h5>
      <mat-form-field class="full-width">
        <input matInput name="textBox" [(ngModel)]="customField.maxLength" placeholder="Max Length" maxlength="3">
      </mat-form-field>
      <small>(Leave Empty if not required)</small>
    </div>
    <hr>
    <div class="field-container">
      <h5> Mininum no of characters </h5>
      <mat-form-field class="full-width">
        <input matInput name="textBox" [(ngModel)]="customField.minLength" placeholder="Min Length" maxlength="3">
      </mat-form-field>
      <small>(Leave Empty if not required)</small>
    </div>
    <hr>
    <div class="field-container">
      <h5>Validations</h5>
      <mat-slide-toggle [(ngModel)]="customField.isRequired">Required</mat-slide-toggle>
      <mat-form-field class="full-width">
        <input matInput name="textBox" [(ngModel)]="customField.customError" placeholder="Custom Error">
      </mat-form-field>
      <small>(Leave Empty if not required)</small>
    </div>
    <hr>
    <div class="field-container">
      <mat-checkbox [(ngModel)]="customField.isRequiredInTask">Available in all Tasks?</mat-checkbox>
    </div>
  </div>
  <div class="button-row text-center assignee-btn">
    <button mat-raised-button [mat-dialog-close]=null class="button grey-button">Cancel</button>
    <button mat-raised-button class="button" color="accent" (click)="saveField()">{{customField._id ? 'Update' : 'Save'}}</button>
  </div>
</div>
<div class="col-sm-6 col-md-8 output-container">
  <div class="button-container">
    <button mat-icon-button [mat-dialog-close]=null>
      <mat-icon class="icon-20">close</mat-icon>
    </button>
  </div>
  <div class="outer-container">
    <div class="task-name-container inner-container">
      <a class="task-name alternate-theme" (click)="inputText=!inputText">
        <strong [ngClass]="{'errorlabel': customField.isRequired}">{{customField.name}}</strong>
        <a *ngIf="customField.isHelpTextEnabled" href="javscript:void(0)" popover="{{customField.helpText}}" popoverTitle="Hint"
          popoverPlacement="right" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="false" [popoverDisabled]="false" [popoverAnimation]="true">
          <mat-icon>help</mat-icon>
        </a>
        <span class="task-edit-icon">
          <mat-icon class="icon-20" color="accent">edit</mat-icon>
        </span>
      </a>
      <div *ngIf="!inputText">
        <p style="margin:0;">
          <small>{{textValue}}</small>
        </p>
      </div>
      <div>
        <div *ngIf="inputText">
          <form #form="ngForm">
            <mat-input-container class="full-width">
              <textarea matInput #inputField placeholder="{{customField.name}}" name="textValue" [(ngModel)]="textValue" maxlength="{{customField.maxLength}}"
                minlength="{{customField.minLength}}" [rows]="3">
                </textarea>
              <mat-hint *ngIf="customField.maxLength" align="end">{{textValue.length}} / {{customField.maxLength}}</mat-hint>
            </mat-input-container>
          </form>
          <mat-error *ngIf="customField.isRequired && !textValue && !customField.customError">{{customField.name}} is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="customField.isRequired && !textValue && customField.customError">{{customField.customError}}</mat-error>
          <div class="button-row text-center assignee-btn">
            <button mat-raised-button class="button grey-button" (click)="inputText=!inputText">Cancel</button>
            <button mat-raised-button class="button" color="accent" (click)="inputText=!inputText">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>