<div class="col-md-12 text-center">
  <h2 class="page-heading">General Settings</h2>
  <div class="border"></div>
</div>
<div class="clearfix"></div>
<div class="wrapper">
  <div class="conatainer alternate-theme">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5">
        <ul class="text-center">
          <li>
            <mat-card>
              <a href="javascript:void(0)" class="task-name"><strong>Task Manager</strong>
                <span class="task-edit-icon"><mat-icon class="icon-20" color="accent">edit</mat-icon></span></a>
            </mat-card>
          </li>
          <li>
            <mat-card>
              <a href="javascript:void(0)" class="task-name"><strong>Task Manager</strong>
                    <span class="task-edit-icon"><mat-icon class="icon-20" color="accent">edit</mat-icon></span></a>
            </mat-card>
          </li>

          <li>
            <mat-card>
              <a href="javascript:void(0)" class="task-name"><strong>Task Manager</strong>
                        <span class="task-edit-icon"><mat-icon class="icon-20" color="accent">edit</mat-icon></span></a>
            </mat-card>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>