<div class="title-bar-shadow tool-bar">
  <h3 class="tab-heading">
    <mat-icon class="icon-20" color="accent">edit</mat-icon>
    <strong>Edit task:</strong>
  </h3>
  <div class="customfieldmenu">
    <button mat-button [matMenuTriggerFor]="menu">More Fields</button>
    <mat-menu #menu="matMenu" yPosition="below">
      <div *ngIf="allCustomFields.length; else noFields">
        <button mat-menu-item class="fullwidth" (click)="customFieldToggle(field)" *ngFor="let field of allCustomFields">
          <mat-icon class="margin0" *ngIf="field.status">done</mat-icon>
          <span>{{field.name}}</span>
        </button>
      </div>
      <ng-template #noFields>
        <h3 class="menulabel">
          No Custom Fields!
        </h3>
        <button mat-menu-item class="fullwidth" (click)="redirectCustomFields()">
          <mat-icon class="margin0">add_circle</mat-icon>
          <span>Add Custom Fields</span>
        </button>
      </ng-template>
    </mat-menu>
  </div>
</div>
<div class="tab-conatiner">
  <mat-dialog-content style="height: 432px;" [ngClass]="{'readonly': !_authorizationService.userCan(privilages.CAN_EDIT_TASK)}">
    <div class="row">
      <div class="col-sm-6">
        <app-inline-text [name]="'Title'" [value]="task.title" (updatedField)="componentReply($event)"></app-inline-text>
        <app-inline-textarea [name]="'Description'" [value]="task.description" (updatedField)="componentReply($event)"></app-inline-textarea>
        <app-tags [taskTags]="task.tags" [wsId]="task.wsId" (sendTag)="setTaskTag($event)"></app-tags>
      </div>
      <div class="col-sm-6">
        <div class="task-name-container">
          <a class="task-name alternate-theme" (click)="priorityEdit=!priorityEdit">
            <strong>Priority</strong>
            <span class="task-edit-icon">
              <mat-icon class="icon-20" color="accent">edit</mat-icon>
            </span>
          </a>
          <div *ngIf="!priorityEdit">
            <p *ngIf="task.priority" style="margin:0;">
              <small>{{task.priority | PriorityPipe}}</small>
            </p>
            <p style="margin:0;" *ngIf="!task.priority">
              <small>Not Set</small>
            </p>
          </div>
          <div *ngIf="priorityEdit">
            <mat-select placeholder="Priority" floatPlaceholder="never" [(ngModel)]="task.priority">
              <mat-option *ngFor="let priority of Priority" [value]="priority.priority" required>
                <div [ngStyle]="{'background': priority.color}" class="priority-color"></div>
                {{priority.level}}
              </mat-option>
            </mat-select>
            <div class="button-row text-center assignee-btn">
              <button mat-raised-button class="button grey-button" (click)="priorityEdit=!priorityEdit">Cancel</button>
              <button mat-raised-button class="button" color="accent" (click)="customUpdate('priority');priorityEdit=!priorityEdit">Save</button>
            </div>
          </div>
        </div>
        <div class="task-name-container">
          <a class="task-name alternate-theme" (click)="dueDtEdit=!dueDtEdit">
            <strong>Due Date</strong>
            <span class="task-edit-icon">
              <mat-icon class="icon-20" color="accent">edit</mat-icon>
            </span>
          </a>
          <div *ngIf="!dueDtEdit">
            <p style="margin:0;" *ngIf="task.dueDate">
              <small>{{task.dueDate | date:'shortDate'}}</small>
            </p>
            <p style="margin:0;" *ngIf="!task.dueDate">
              <small>Not Set</small>
            </p>
          </div>
          <div *ngIf="dueDtEdit">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" name="dueDate" placeholder="Due Date" [(ngModel)]="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="button-row text-center assignee-btn">
              <button mat-raised-button class="button grey-button" (click)="dueDtEdit=!dueDtEdit">Cancel</button>
              <button mat-raised-button class="button" color="accent" (click)="customUpdate('dueDate');dueDtEdit=!dueDtEdit">Save</button>
            </div>
          </div>
        </div>
        <div class="task-name-container">
          <a class="task-name alternate-theme" (click)="estimateEdit = !estimateEdit">
            <strong>Estimated Time</strong>
            <span class="task-edit-icon">
              <mat-icon class="icon-20" color="accent">edit</mat-icon>
            </span>
          </a>
          <div *ngIf="!estimateEdit">
            <p style="margin:0;" *ngIf="task.estimateTime > 0">
              <small>{{hour}}:{{minute}} (HH:MM)</small>
            </p>
            <p style="margin:0;" *ngIf="task.estimateTime <= 0">
              <small>Not Mentioned</small>
            </p>
          </div>
          <div *ngIf="estimateEdit">
            <form action="">
              <mat-input-container class="full-width">
                <input matInput placeholder="Hour" name="hour" type="number" [(ngModel)]="hour" required #ho="ngModel">
              </mat-input-container>
              <mat-input-container class="full-width">
                <input matInput placeholder="Minute" name="minute" type="number" [(ngModel)]="minute" required #mi="ngModel">
              </mat-input-container>
              <div class="button-row text-center assignee-btn">
                <button mat-raised-button class="button grey-button" (click)="estimateEdit=!estimateEdit">Cancel</button>
                <button mat-raised-button class="button" color="accent" (click)="updateEstimateTime();estimateEdit=!estimateEdit" [disabled]="ho.errors || mi.errors">Done</button>
              </div>
            </form>
          </div>
        </div>
        <div class="task-name-container">
          <a class="task-name alternate-theme" (click)="asigneeEdit = !asigneeEdit">
            <strong>Assigned To</strong>
            <span class="task-edit-icon">
              <mat-icon class="icon-20" color="accent">edit</mat-icon>
            </span>
          </a>
          <div *ngIf="!asigneeEdit">
            <div *ngIf="selectedUserProfile">
              <img src="{{selectedUserProfile}}" class="profile-img" />
              <p style="margin:0;">
                <small>{{selectedUser}}</small>
              </p>
            </div>
            <p style="margin:0;" *ngIf="!selectedUserProfile">
              <small>Not Assigned</small>
            </p>
          </div>
          <div *ngIf="asigneeEdit" class="asignee-container">
            <mat-input-container class="full-width">
              <input matInput #userFilterElement placeholder="Users" ng-focus="false" [(ngModel)]="name" type="text" (input)="filter()"
                [matAutocomplete]="auto">
            </mat-input-container>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let User of Users" (onSelectionChange)="selectUser(User)">
                <img src="{{User.profile}}" alt="Profile Picture" class="profile-img"> {{ User.firstname }} {{ User.lastname}}
              </mat-option>
            </mat-autocomplete>
            <ul class="selected-options">
              <mat-chip-list class="selected-member">
                <mat-chip color="primary" selected="true" *ngIf="selectedUserProfile">
                  <img src="{{selectedUserProfile}}" alt="" class="profile-img round-img">
                  <span>{{selectedUser}}</span>
                  <button mat-icon-button>
                    <mat-icon class="delete-icon" (click)="deleteUser()">cancel</mat-icon>
                  </button>
                </mat-chip>
              </mat-chip-list>
            </ul>
            <div class="button-row text-center assignee-btn">
              <button mat-raised-button class="button grey-button" (click)="asigneeEdit=!asigneeEdit">Cancel</button>
              <button mat-raised-button class="button" color="accent" (click)="changeUser();asigneeEdit=!asigneeEdit">Done</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="customFields.length">
      <hr>
      <div class="row">
        <div *ngFor="let field of customFields" [ngSwitch]="field.type" class="task-name-container col-sm-6 col-md-6 col-sm-6">
          <app-inline-text *ngSwitchCase="customFieldTypes.Text" [name]="field.name" [value]="field.value" [customFieldProperties]="field"
            (updatedField)="componentReply($event)"></app-inline-text>
          <app-inline-textarea *ngSwitchCase="customFieldTypes.TextArea" [name]="field.name" [value]="field.value" [customFieldProperties]="field"
            (updatedField)="componentReply($event)"></app-inline-textarea>
          <app-inline-dropdown *ngSwitchCase="customFieldTypes.Dropdown" [name]="field.name" [value]="field.value" [customFieldProperties]="field"
            (updatedField)="componentReply($event)"></app-inline-dropdown>
          <app-checklist *ngSwitchCase="customFieldTypes.CheckList" [name]="field.name" [value]="field.value" [customFieldProperties]="field"
            (updatedField)="componentReply($event)"></app-checklist>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>