.task-name{
    cursor: pointer;
    font-size: 16px;
}
.task-edit-icon{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
}
.task-name-container .task-name:hover .task-edit-icon{
    visibility: visible;
    opacity: 1;
    transition: 0.3s all;
}
.priority-color{
    content: " ";
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s all;
}
.mat-option:hover .priority-color{
    transition: 0.3s all;
    opacity: 0.7;
    width: 7px;
}
.tool-bar{
    display: flex;
    justify-content: space-between;
}

.customfieldmenu{
    padding: 10px;
}

.fullwidth{
    width: 100%;
}
.margin0{
    margin: 0;
}
.menulabel{
    margin-left: 10px;
}
hr {
    margin:10px 0px 10px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}