<mat-toolbar color="primary" class="task-edit-toolbar">
  <h2 class="edit-task-title dialog-title">Email Verification</h2>
  <button mat-button [mat-dialog-close]="true" class="close-button dialog-close-button"><mat-icon>close</mat-icon></button>
</mat-toolbar>
<div *ngIf="isEmailVerified">
  <div class="form-message-container text-center">
    <div class="form-message-content">
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <mat-icon class="icon-50">mood</mat-icon>
      <h5 class="message-title">Thanks</h5>
      <p>your email address is verified successfully!!!! </p>
      <button mat-raised-button color="primary" (click)="goWorkspace()">Ok</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="!isEmailVerified">
  <div class="form-message-container text-center">
    <div class="form-message-content">
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <mat-icon class="icon-50">mood</mat-icon>
      <h5 class="message-title">Sorry</h5>
      <p>Sorry!!! May be link is expired,invalid or Already used </p>
      <button mat-raised-button color="primary" (click)="goLogin()">ok</button>
    </div>
  </div>
</div>