<h2 class="page-heading text-center">Login History</h2>
<div class="border"></div>
<div class="container">
  <div class="history-timeline">
    <ul>
      <li><span></span>
        <div>
          <div class="title white-text">Mihir Suchak</div>
          <div class="info white-text">Login</div>
          <div class="type white-text">Presentation</div>
        </div> <span class="number"><span>10:00</span> <span>12:00</span></span>
      </li>
      <li>
        <div><span></span>
          <div class="title white-text">Mihir Suchak</div>
          <div class="info white-text">Login</div>
          <div class="type white-text">Presentation</div>
        </div> <span class="number"><span>13:00</span> <span>14:00</span></span>
      </li>
      <li>
        <div><span></span>
          <div class="title white-text">Mihir Suchak</div>
          <div class="info white-text">Login</div>
          <div class="type white-text">Review</div>
        </div> <span class="number"><span>15:00</span> <span>17:45</span></span>
      </li>
    </ul>
  </div>
</div>