
.history-timeline ul {
  margin: 0;
  margin-top: 100px;
  list-style: none;
  position: relative;
  padding: 1px 100px;
  color: #000;
  font-size: 13px;
}
.history-timeline ul:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #000;
}
.history-timeline ul li {
  position: relative;
  margin-left: 30px;
  background-color: #0277bd;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.history-timeline ul li:not(:first-child) {
  margin-top: 60px;
}
.history-timeline ul li > span {
  width: 2px;
  height: 100%;
  background: #000;
  left: -30px;
  top: 0;
  position: absolute;
}
.history-timeline ul li > span:before, .history-timeline ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}
.history-timeline ul li:before{
  content: "";
  width: 0;
  height: 0;
  right: 100%;
  top: 30px;
  position: absolute;
  border-top: 13px solid transparent;
  border-right: 15px solid #0277bd;
  border-bottom: 13px solid transparent;
}
.history-timeline ul li span:after {
  top: 100%;
}
.history-timeline ul li > div {
  margin-left: 10px;
}
.history-timeline div .title, .history-timeline div .type {
  font-weight: 600;
  font-size: 12px;
}
.history-timeline div .info {
  font-weight: 300;
}
.history-timeline div > div {
  margin-top: 5px;
}
.history-timeline span.number {
  height: 100%;
}
.history-timeline span.number span {
  position: absolute;
  font-size: 15px;
  left: -45px;
  font-weight: bold;
}
.history-timeline span.number span:first-child {
  top: 0;
}
.history-timeline span.number span:last-child {
  top: 100%;
}
