<div class="inner-container">
  <div class="task-name-container">
    <a class="task-name alternate-theme" (click)="inputText=!inputText">
      <strong [ngClass]="{'errorlabel': !value && customFieldProperties.isRequired}">{{name}}</strong>
      <a *ngIf="customFieldProperties.isHelpTextEnabled" href="javscript:void(0)" popover="{{customFieldProperties.helpText}}"
        popoverTitle="Hint" popoverPlacement="right" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="false" [popoverDisabled]="false"
        [popoverAnimation]="true">
        <mat-icon>help</mat-icon>
      </a>
      <span class="task-edit-icon">
        <mat-icon class="icon-20" color="accent">edit</mat-icon>
      </span>
    </a>
    <div *ngIf="!inputText">
      <p style="margin:0;">
        <i class="material-icons icon-15">playlist_add_check </i>
        <span>{{count}} / {{list.length}}</span>
      </p>
    </div>
    <div>
      <div *ngIf="inputText">
        <mat-list>
          <mat-list-item *ngFor="let option of list">
            <mat-checkbox [(ngModel)]="option.checked">{{option.value}}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <div class="button-row text-center assignee-btn">
          <button mat-raised-button class="button grey-button" (click)="inputText=!inputText">Cancel</button>
          <button mat-raised-button class="button" color="accent" [disabled]="!value && customFieldProperties.isRequired" (click)="updateField();inputText=!inputText">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>