.task-name{
    cursor: pointer;
    font-size: 16px;
}
.task-edit-icon{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;

}
.task-name-container .task-name:hover .task-edit-icon{
    visibility: visible;
        opacity: 1;
    transition: 0.3s all;
}