<div class="col-md-12 text-center">
  <h2 class="page-heading">Members Settings</h2>
  <div class="border"></div>
</div>
<div class="clearfix"></div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 no-pad">
        <ul *ngIf="loading">
          <li class="col-sm-12 col-md-6">
            <div class="timeline-wrapper">
              <mat-card class="animation-card">
                <div class="row">
                  <div class="media">
                    <div class="media-left image-container">
                      <div class="animated-background media-object profile-img"></div>
                    </div>
                    <div class="media-body">
                      <div class="animated-background animated-content animated-heading"></div>
                      <div class="animated-background animated-content animated-name"></div>
                      <div class="animated-background animated-content animated-name"></div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </li>
        </ul>
        <ul *ngIf="!loading">
          <li *ngFor="let member of members" class="col-sm-12 col-md-6">
            <member-card [member]="member" [roles]="roles" (updatedRole)="RoleUpdated($event)" (deleteMember)="deleteMember($event)"></member-card>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 text-center">
        <ul class="list-group member-container">
          <li class="list-group-item active">
            <h4>Role Description</h4>
          </li>
          <li class="list-group-item"><strong>Owner:-</strong> <span>Owner has all the rights to perform any action!</span></li>
          <li class="list-group-item"><strong>Member:-</strong> <span>Members are allowed all actions expect deleted any of the resource!</span></li>
          <li class="list-group-item"><strong>Restricted User:-</strong> <span>Restricted User has limited (Read Only) rights and cannot edit or delete any resource!</span></li>
        </ul>
      </div>
    </div>

    <button [disabled]="!_authorizationService.userCan(privilages.CAN_ADD_MEMBER)" mat-fab class="fixed-button" color="accent"
    matTooltip="{{ !_authorizationService.userCan(privilages.CAN_ADD_MEMBER) ? 'You cannot add new member!' :'Add new member'}}"
    (click)="inviteMember()"><mat-icon>add</mat-icon></button>  
    <div class="row">
    </div>
  </div>
</div>