.member-container{
    overflow: hidden;
}

.media-heading{
    margin-top: 13px;
    margin-right: 10px;
}
.media-body{
    padding: 20px;
    width: 100%;
}
.mat-card{
    padding: 0;
    margin-bottom: 20px;
}
.media-left.image-container,.media-left.button-container {
    vertical-align: middle;
}
.media-left.image-container{
    /* border-right: 1px solid #ecf1f8; */
    padding: 0 20px 0 20px;
    border-right: 1px solid #ecf1f8;
    background: #f7f7f7;
}
.media-left.button-container{
    padding: 0 10px;
}
.profile-img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
.animation-card{
    overflow: hidden;
}
.animated-heading{
    max-width: 150px;
}
.animated-name{
    max-width: 75px;
}