<mat-toolbar color="accent">
    <button mat-icon-button (click)="goBack()"><mat-icon class="icon-20">navigate_before</mat-icon></button>
    <button mat-button [routerLink]="['phase']"><mat-icon class="icon-20">settings</mat-icon>Phases</button>
    <button mat-button [routerLink]="['member']"><mat-icon class="icon-20">settings</mat-icon>Members</button>
    <button mat-button [routerLink]="['customfields']"><mat-icon class="icon-20">settings</mat-icon>Custom Fields</button>
</mat-toolbar>
<router-outlet></router-outlet>