
.wrorkspace-card.mat-card{
    margin-top: 25px;
    padding: 0;
    cursor: pointer;
    height: 155px;
}
.card-title{
    margin: 0;
    color: #0277bd;
}
.add-workspace-card.mat-card{
    border: 1px dashed #0277bd;
    box-shadow: none;
    background: transparent;
}
.card-button-row{
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s all;
}
.wrorkspace-card.mat-card:hover .card-button-row{
    visibility: visible;
    opacity: 1;
    transition: 0.6s all;
}
.outer-container{
    height: 100%;
    display: table;
    width: 100%;
}
.inner-container{
    display: table-cell;
    vertical-align: middle;
}
.wrorkspace-card.mat-card:hover{
    box-shadow: 2px 3px 30px #adadad;
}
.close-button{
    position: absolute;
    top:5px;
    right: 5px;
    min-width: 0;
    line-height: 24px;
    padding: 0 10px;
    border-radius: 5px;
}

.animated-item .animated-name{
    width: 150px;
    height: 10px;
    margin: 0 auto;
}