<div class="col-md-12 text-center">
    <h2 class="page-heading">Workspace</h2>
</div>
<ul class="workspace-wrapper">
    <div *ngIf="loading">
        <li *ngFor="let counter of [1,2,3]" class="col-sm-4 col-xs-6 col-md-3 col-lg-2">
            <div class="wrorkspace-card mat-card">
                <div class="timeline-wrapper outer-container">
                    <div class=" animated-item inner-container">
                        <div class="animated-background animated-name"></div>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <div *ngIf="!loading" class="alternate-theme">
        <li *ngFor="let singleWorkspace of Workspaces" class="col-sm-4 col-xs-6 col-md-3 col-lg-2">
            <mat-card class="wrorkspace-card text-center" *ngIf="!isEdit || singleWorkspace._id !== editWorkspace._id">
                <div class="text-center outer-container">
                    <div class="inner-container" (click)="openWorkSpace(singleWorkspace)">
                        <h2 class="card-title">{{singleWorkspace.wsname}}</h2>
                    </div>
                </div>
                <div class="card-button-row">
                    <mat-icon *ngIf="singleWorkspace.isFollowing" mat-tooltip="Following " class="icon-20" color="accent">visibility</mat-icon>
                    <mat-icon *ngIf="!singleWorkspace.isFollowing" mat-tooltip="Unfollowing" class="icon-20" color="accent">visibility_off</mat-icon>
                    <button mat-icon-button class="card-button">
                    <mat-icon mat-tooltip="shared" class="icon-20" color="accent" *ngIf="singleWorkspace.member.length > 1">people</mat-icon>
                    <mat-icon mat-tooltip="personal" class="icon-20" color="accent" *ngIf="singleWorkspace.member.length === 1">person</mat-icon>
                </button>
                    <button mat-icon-button class="card-button" (click)="ediWorkspace(singleWorkspace)">
                     <mat-icon mat-tooltip="Edit" class="icon-20" color="accent">edit</mat-icon>
                </button>
                    <button mat-icon-button class="card-button" (click)="deleteWorkspace(singleWorkspace)">
                    <mat-icon mat-tooltip="Delete"class="delete-icon red-icon">delete</mat-icon>
                </button>
                </div>
            </mat-card>
            <mat-card class="wrorkspace-card add-workspace-card text-center outer-container" *ngIf="isEdit && singleWorkspace._id === editWorkspace._id ">
                <div #create class="inner-container">
                    <button *ngIf="isEdit" mat-raised-button class="close-button" color="accent" (click)="isEdit = !isEdit">X</button>
                    <mat-input-container>
                        <input matInput appGetFocus placeholder="Workspace Name" name="wsname" value="{{singleWorkspace.wsname}}" #wsname="ngModel"
                            (focus)="true" [ngModel]="editWorkspace.wsname" (ngModelChange)="onChange($event)" required minlength="2"
                            maxlength="30">
                    </mat-input-container>
                    <div class="button-row">
                        <button mat-raised-button color="primary" (click)="updateWorkspace()" [disabled]="wsname.errors">Save</button>
                    </div>
                </div>
            </mat-card>
        </li>
    </div>
    <li class="col-sm-4 col-xs-6 col-md-3 col-lg-2">
        <mat-card class="wrorkspace-card add-workspace-card text-center outer-container">
            <div *ngIf="isnew" class="inner-container" (click)="isnew = !isnew">
                <mat-icon class="icon-50 card-icon" color="accent">add</mat-icon>
                <h3 class="card-title">Add New Workspace</h3>
            </div>
            <div *ngIf="!isnew" #create class="inner-container">
                <button *ngIf="!isnew" mat-raised-button class="close-button" color="accent" (click)="isnew = !isnew">X</button>
                <mat-input-container>
                    <input matInput appGetFocus placeholder="Workspace Name" name="wsname" value="" #wsname="ngModel" (focus)="true" [(ngModel)]="workspace.wsname"
                        required minlength="2" maxlength="30" (keyup.enter)="addWorkspace()">
                </mat-input-container>
                <div class="button-row">
                    <button mat-raised-button color="primary" (click)="addWorkspace()" [disabled]="wsname.errors">Save</button>
                </div>
            </div>
        </mat-card>
    </li>
</ul>