<div class="outer-container">
  <div class="task-name-container inner-container">
    <a class="task-name alternate-theme" (click)="inputText=!inputText"><strong [ngClass]="{'errorlabel': !value && customFieldProperties.isRequired}">{{name}}</strong>
                <a *ngIf="customFieldProperties.isHelpTextEnabled" href="javscript:void(0)" popover="{{customFieldProperties.helpText}}" popoverTitle="Hint" popoverPlacement="right" [popoverOnHover]="true"
                [popoverCloseOnMouseOutside]="false" [popoverDisabled]="false" [popoverAnimation]="true">
                <mat-icon>help</mat-icon>
              </a>
    <span class="task-edit-icon"><mat-icon class="icon-20" color="accent">edit</mat-icon></span></a>
    <div *ngIf="!inputText">
      <p *ngIf="value" style="margin:0;"><small>{{value}}</small></p>
      <p *ngIf="!value" style="margin:0;"><small>Not Set</small></p>
    </div>
    <div>
      <div *ngIf="inputText">
        <form #form="ngForm">
          <mat-input-container class="full-width">
            <input matInput #inputField placeholder="{{name}}" name="textValue" [(ngModel)]="value">
            <mat-hint *ngIf="customFieldProperties.maxLength" align="end">{{inputField.value.length}} / {{customFieldProperties.maxLength}}</mat-hint>
          </mat-input-container>
        </form>
        <mat-error *ngIf="customFieldProperties.isRequired && !inputField.value && !customFieldProperties.customError">{{name}} is <strong>required</strong></mat-error>
        <mat-error *ngIf="customFieldProperties.isRequired && !inputField.value && customFieldProperties.customError">{{customFieldProperties.customError}}</mat-error>
        <div class="button-row text-center assignee-btn">
          <button mat-raised-button class="button grey-button" (click)="inputText=!inputText;value=modelValue">Cancel</button>
          <button mat-raised-button class="button" color="accent" [disabled]="!value && customFieldProperties.isRequired" (click)="updateField();inputText=!inputText">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>