<mat-tab-group #tabGroup [selectedIndex]="activeTabId" (selectChange)="tabChanged($event)" class="tab-group">
  <mat-tab label="Edit" #Edit id="editTask">
    <app-edit-tab></app-edit-tab>
  </mat-tab>
  <mat-tab id="commentBox" #comment label="Comment Box">
    <app-comments-tab [task]="obj" [TabElement]="comment"></app-comments-tab>
  </mat-tab>
  <mat-tab id="attachments" #Attachments label="Attachments">
     <app-attachments-tab [task]="obj" [TabElement]="Attachments"></app-attachments-tab> 
  </mat-tab>
  <mat-tab id="activity" #Activity label="Activity Log">
    <app-activity-tab [task]="obj" [TabElement]="Activity"></app-activity-tab>
  </mat-tab>
</mat-tab-group>