.carditem-first{
    padding: 10px;
    border-right: 1px solid #fff;
    width: 310px;
    min-width: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50px
}
.card-container{
    height: calc(100% - 78px);
}
.card-wrapper{
    display: inline;
}
.card-flex{
    overflow-y: hidden;
    overflow-x: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: 1 1 auto;
    -webkit-flex-flow: 1 1 auto;
    height: calc(100% - 50px);
    background: rgba(136, 149, 220, 0.14);
}
.card-item{
    border-right: 1px solid rgba(137, 161, 186, 0.14);
    width: 310px;
    min-width: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.card-list{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 0;
}
.card-list-height{
    height: 717px;
    overflow-x: hidden;
    overflow-y: auto;
}
.mat-card{
    padding: 0;
    overflow: hidden;
    position: relative;
}
.mat-card-header .mat-card-header-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.mat-card-header .mat-card-subtitle:not(:first-child){
    margin-top: 0;
}
.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title{
    margin-bottom: 0
}
.task-card{
    margin: 5px 5px 10px 5px;
}
.task-description{
    margin-bottom: 0;
}
.card-heading{
    border-bottom: 1px solid #eaecf6;
}
.content-container{
    padding: 10px;
    overflow: hidden;
}
.labels-container span{
    display: inline-block;
    width: 15px;
    height: 15px;
    /* background: rgb(2, 120, 189); */
    border-radius: 3px;
    box-shadow: inset 0 0 0 3px hsla(0,0%,100%,.8);
    margin: 8px 0 2px 10px;
}
.card-title{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    white-space: normal;
    font-weight: 500;
}
.icon-container{
    width: 100%;
}
.delete-icon{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
}
.mat-card:hover .delete-icon{
    visibility: visible;
    opacity: 1;
    transition: 0.5s all;
}
.icon-container li{
    margin-top: 15px;
}
.icon-container li,.labels-container li{
    display: inline-block;
}
.image{
    margin-top: 11px;
}
.mat-icon-button.btn-22{
    height: 25px;
    width: 25px;
    line-height: 22px;
}
.card-icon {
    position: relative;
}
.badge{
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    box-shadow: inset 0 0 0 3px hsla(0,0%,100%,.8);
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 21px;
}
.icon-20{
    line-height: 23px;
}
.card-icon .badge{
    position: absolute;
    top: -17px;
    left: 12px;
}
.card-content{
    display: flex;
    justify-content: space-between;
}


.timer-chip .mat-chip{
    /* -webkit-transform: rotate(-33deg);
    transform: rotate(-33deg);
    right: -156px;
    top: -8px;
    padding-right: 36px;
    padding-left: 42px;
    overflow: hidden;
    float: right;
    position: relative; */
    font-size: 10px;
    padding: 3px 8px;
    letter-spacing: 1px;
    margin-left: 8px;
    color: #fff;
}
.low-priority{
    background:  #0f9fef;
} 
.medium-priority{
    background:  #a6ef0f;
} 
.high-priority{
    background:  #ef9b0f;
}
.content-container{
    position: relative;
}
.priority{
    height: 100%;
    width: 5px;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1
}