<mat-card class="card task-card" (click)="openTask(task)">
  <div class="priority low-priority" *ngIf="task.priority==3" matTooltip="Low Priority" matTooltipPosition="after"></div>
  <div class="priority medium-priority" *ngIf="task.priority==2" matTooltip="Medium Priority" matTooltipPosition="after"></div>
  <div class="priority high-priority" *ngIf="task.priority==1" matTooltip="High Priority" matTooltipPosition="after"></div>
  <div class="card-heading labels-container" *ngIf="tagLabels">
    <span *ngFor="let tag of tagLabels" [ngStyle]="{'background' : tag.color}" matTooltip="{{tag.tagName}}"></span>
  </div>
  <div class="content-container">
    <mat-card-header class="title-bar">
      <mat-card-title>
        <div>
          <p class="card-title">{{task.title}}</p>
        </div>
      </mat-card-title>
      <div class="image">
        <img *ngIf="task.assignee" mat-card-sm-image src="{{task.assignee.profile}}" matTooltip="{{task.assignee.firstname}}" class="team-member profile-img">
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <ul class="icon-container alternate-theme">

        <li>
          <button mat-icon-button [disabled]="!isValid" (click)="startStopTask($event,time.hour,time.minute,time.second)" matTooltip="{{isTimerOn ? 'Timer is On' : 'Timer is Off'}}" class="btn-22"><mat-icon class="icon-20  " [ngClass]="{'grey-color': !isTimerOn,'blue-color': isTimerOn}">timer</mat-icon></button>
        </li>
        <li *ngIf="task.attachmentCount > 0" matTooltip="attachment" (click)="openDialogueWithTab(task,'attachment', $event)" class="card-icon">
          <button mat-icon-button class="btn-22"><mat-icon class="icon-20" color="primary">attachment</mat-icon></button>
          <span *ngIf="task.attachmentCount > 10" class="badge">10+</span>
          <span *ngIf="task.attachmentCount < 10" class="badge">{{task.attachmentCount}}</span>
        </li>
        <li *ngIf="task.commentCount > 0" matTooltip="comment" (click)="openDialogueWithTab(task,'comment', $event)" class="card-icon">
          <button mat-icon-button class="btn-22"><mat-icon class="icon-20" color="primary">comment</mat-icon></button>
          <span *ngIf="task.commentCount > 10" class="badge" color="primary">10+</span>
          <span *ngIf="task.commentCount < 10" class="badge" color="primary">{{task.commentCount}}</span>
        </li>
        <li>
          <mat-chip-list class="timer-chip">
            <mat-chip color="primary" selected="true"  *ngIf="taskDue === 3">
              Due in 3 Days
            </mat-chip>
            <mat-chip color="primary" selected="true" *ngIf="taskDue == 2">
              Due in 2 Days
            </mat-chip>
            <mat-chip color="warn" selected="true" *ngIf="taskDue == 1">
              Due in 1 Day
            </mat-chip>
            <mat-chip color="warn" selected="true" *ngIf="taskDue === 0">
              Due Today
            </mat-chip>
            <mat-chip color="primary" selected="true" *ngIf="taskDue < 0">
              Over Due
            </mat-chip>
          </mat-chip-list>
        </li>
        <li class="pull-right delete-icon">
          <button (click)="deteletTask(task._id, $event)" mat-icon-button class="btn-22"><mat-icon color="warn" class="icon-20 card-icon" matTooltip="Delete this Task!">delete</mat-icon></button>
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>