<div class="title-bar-shadow title-bar alternate-theme">
  <h3 class="tab-heading ">
    <mat-icon class="icon-20" color="accent">history</mat-icon><strong>Activity:</strong></h3>
  <mat-spinner *ngIf="isRefreshing" class="spinner" [diameter]="24" [strokeWidth]="3"></mat-spinner>
</div>
<!-- main timeline section -->
<mat-dialog-content style="height:432px;">
  <div class="history-container">
    <!-- start-animation-box -->
    <div *ngIf="loading" class="timeline-wrapper">
      <div class="row">
        <div class="col-sm-2">
          <div class="animated-background image"></div>
        </div>
        <div class="timeline-item">
          <div class="animated-background animated-content"></div>
          <div class="animated-background animated-content bottom-content pull-right"></div>
        </div>
      </div>
    </div>
    <!-- end-animation-box -->
    <div *ngIf="!loading" id="cd-timeline" class="cd-container">
      <!-- first timeline event -->
      <div class="cd-timeline-block left-timeline" *ngFor="let activity of activities">
        <div class="cd-timeline-img cd-picture">
          <img src="{{activity.profile}}" alt="userName" class="profile-img">
        </div>
        <div class="cd-timeline-content">
          <p class="activity-message">{{activity.message}} </p>
          <p class="text-right"><small class="cd-date" matTooltip="{{activity.createdOn | date:'medium'}}">{{activity.createdOn | amTimeAgo}}</small></p>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>