/* .history-discription{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}*/

#cd-timeline {
    position: relative;
    padding: 16px 0;
}
#cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    background: #ecf1f8;
    left: 0;
    margin-left: -2px;
}
/* .cd-container::after {
    content: '';
    display: table;
    clear: both;
} */
.cd-container {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block {
    position: relative;
    margin: 15px 0;
}
.cd-timeline-content {
    margin-left: 0;
    border-radius: 5px;
    padding: 10px;
    background: #ecf1f8;
    position: relative;
    border-radius: 12px;
    color: #000;
    font-size: 15px;
    margin-left: 45px;
    box-shadow: 1px 2px 2px #d4d4d4;
}
.left-timeline .cd-timeline-content:after{
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 17px;
    position: absolute;
    border-top: 13px solid transparent;
    border-right: 15px solid #ecf1f8;
    border-bottom: 13px solid transparent;
}

.cd-timeline-content p{
    margin: 0;
}
.cd-timeline-img {
    width: 30px;
    height: 30px;
    left: 0;
    margin-left: -15px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.cd-timeline-img {
    position: absolute;
    top: 13px;
    border-radius: 6px;
    box-shadow: 0 0 0 2px white, inset 0 0 0 rgba(0, 0, 0, 0.08), 0 3px 0 1px rgba(0, 0, 0, 0.05);
    background: #ecf1f8;
}
.cd-timeline-img img,.cd-timeline-img svg {
    display: block;
    width: 100%;
    height: 100%;
}
.differnce-button{
    margin: 5px 50px;
    display: inline-block;
}
.activity-message{
    word-break: break-all;
}
.spinner{
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-right:5px;
}
.timeline-item{
    min-height: 60px;
    max-width: 83%;
    border-radius: 12px;
    margin-left: 90px;
    position: relative;
}
.image{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
}
.bottom-content{
    margin-top: 20px;
    width: 100px;
    height: 5px;
}