<mat-toolbar color="primary" class="task-edit-toolbar toolbar">
  <h2 class="edit-task-title dialog-title">Change Password</h2>
  <button mat-icon-button [mat-dialog-close]="true" class="dialog-close-button"><mat-icon class="icon-20">close</mat-icon></button>
</mat-toolbar>

<div *ngIf="!isPasswordChanged">
  <form action="" #form="ngForm">
    <mat-input-container class="input-full-width" style="margin-top: 40px;">
      <mat-icon matPrefix class="prefix-icon">lock</mat-icon>
      <input matInput placeholder="Current Password" type="password" name="password" required minlength="3" maxlength="24" [(ngModel)]="passwordObj.password"
        #password="ngModel">
      <mat-error *ngIf="password.errors && password.errors.required">Password is <strong>required</strong></mat-error>
      <mat-error *ngIf="password.errors && password.errors.minlength">Password must be at least 3 characters long.</mat-error>
      <mat-error *ngIf="password.errors && password.errors.maxlength">Password cannot be more than 24 characters long</mat-error>
    </mat-input-container>
    <mat-input-container class="input-full-width">
      <mat-icon matPrefix class="prefix-icon">lock</mat-icon>
      <input matInput placeholder="New Password" type="password" name="newPassword" minlength="3" maxlength="24" [(ngModel)]="passwordObj.newPassword"
        #newPassword="ngModel" reverse="true" appEqualValidator="confirmPassword" required>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.required">New Password is <strong>required</strong></mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.minlength">New Password must be at least 3 characters long.</mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.maxlength">New Password cannot be more than 24 characters long</mat-error>
    </mat-input-container>
    <mat-input-container class="input-full-width">
      <mat-icon matPrefix class="prefix-icon">lock</mat-icon>
      <input matInput placeholder=" Confirm New Password" type="password" name="confirmPassword" [(ngModel)]="passwordObj.confirmPassword"
        required #confirmPassword="ngModel" appEqualValidator="newPassword" reverse="false">
      <mat-error *ngIf=" (confirmPassword.errors || confirmPassword.pristine)"> Confirm Password did not match</mat-error>
    </mat-input-container>
    <mat-error *ngIf="errMsg">{{errMsg}}</mat-error>
  </form>
  <hr>
  <div class="bottom-toolbar">
    <button mat-raised-button color="accent" class="button full-width-btn" [disabled]="form.invalid" (click)="updatePassword()">Submit</button>
  </div>
</div>
<div class="row" *ngIf="isPasswordChanged">
  <div class="form-message-container text-center">
    <div class="form-message-content">
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <mat-icon class="icon-50">mood</mat-icon>
      <h5 class="message-title">Thanks</h5>
      <p>Password changed successfully , Login again</p>
      <button mat-raised-button color="primary" (click)="closeDialogue()">Login</button>
    </div>
  </div>
</div>