<mat-toolbar color="primary" class="navigation toolbar">
  <div class="user-name">
    <h2>Task Manager
      <small></small>
    </h2>
  </div>
  <div style="width:100%">
      <a href="javascript:void(0)" [matMenuTriggerFor]="appMenu" class="profile-name">
          <img src="{{profileLink}}" alt="{{userName}}" class="profile-img">
        </a>
        <app-notification></app-notification>
    <button *ngIf="InviteMembers" mat-button (click)="inviteMember()" class="invite-btn">
      <i class="material-icons">person_add</i> Members</button>
   
    <mat-menu #appMenu="matMenu" class="option-menu" [overlapTrigger]="false">
      <button mat-menu-item (click)="goPrifile()">
        <mat-icon>account_circle</mat-icon> Profile </button>
      <button mat-menu-item (click)="goWorkspace()">
        <mat-icon>poll</mat-icon> My Workspaces </button>
      <button mat-menu-item (click)="goReports()">
        <mat-icon>description</mat-icon> Reports </button>
      <button mat-menu-item (click)="goLoginHostory()">
        <mat-icon>history</mat-icon> Login History </button>
      <hr>
      <button mat-menu-item (click)="logout()">
        <mat-icon>keyboard_return</mat-icon> Log Out </button>
    </mat-menu>
   
  </div>
</mat-toolbar>