<form action="" #form="ngForm" (ngSubmit)="onRegister()">
  <mat-input-container class="input-full-width">
    <mat-icon matPrefix class="prefix-icon">person</mat-icon>
    <input matInput placeholder="Your First Name" value="" type="text" required minlength="4" maxlength="24" name="firstname"
      [(ngModel)]="user.firstname" #fname="ngModel">
    <mat-error *ngIf="fname.errors && fname.errors.required">Firstname is <strong>required</strong></mat-error>
    <mat-error *ngIf="fname.errors && fname.errors.minlength"> Firstname must be at least 4 characters long.</mat-error>
    <mat-error *ngIf="fname.errors && fname.errors.maxlength">Firstname cannot be more than 24 characters long</mat-error>
  </mat-input-container>
  <mat-input-container class="input-full-width">
    <mat-icon matPrefix class="prefix-icon">person</mat-icon>
    <input matInput placeholder="Your Last Name" type="text" name="lastname" required minlength="4" maxlength="24" [(ngModel)]="user.lastname"
      #lname="ngModel">
    <mat-error *ngIf="lname.errors && lname.errors.required">Lastname is <strong>required</strong></mat-error>
    <mat-error *ngIf="lname.errors && lname.errors.minlength">Lastname must be at least 4 characters long.</mat-error>
    <mat-error *ngIf="lname.errors && lname.errors.maxlength">Lastname cannot be more than 24 characters long</mat-error>
  </mat-input-container>
  <mat-input-container class="input-full-width">
    <mat-icon matPrefix class="prefix-icon">person</mat-icon>
    <input matInput type="text" placeholder="Email" value="" name="email" [(ngModel)]="user.email" required #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <mat-error *ngIf="email.errors && email.errors.required">Email is <strong>required</strong></mat-error>
    <mat-error *ngIf="email.errors && email.errors.pattern">Email is <strong>Not Valid</strong></mat-error>
  </mat-input-container>
  <mat-input-container class="input-full-width">
    <mat-icon matPrefix class="prefix-icon">lock</mat-icon>
    <input matInput placeholder="New Password" type="password" name="password" required minlength="3" maxlength="24" [(ngModel)]="user.password"
      #password="ngModel" reverse="true" appEqualValidator="confirmPassword">
    <mat-error *ngIf="password.errors && password.errors.required">Password is <strong>required</strong></mat-error>
    <mat-error *ngIf="password.errors && password.errors.minlength">Password must be at least 3 characters long.</mat-error>
    <mat-error *ngIf="password.errors && password.errors.maxlength">Password cannot be more than 24 characters long</mat-error>
  </mat-input-container>
  <mat-input-container class="input-full-width">
    <mat-icon matPrefix class="prefix-icon">lock</mat-icon>
    <input matInput placeholder="Confirm Password" type="password" name="confirmPassword" required minlength="3" maxlength="24"
      [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" appEqualValidator="password" reverse="false">
    <mat-error *ngIf="(confirmPassword.errors || confirmPassword.pristine)"> Password did not match</mat-error>
  </mat-input-container>
  <button mat-raised-button color="accent" class="button full-width-btn" [disabled]="form.invalid">Submit</button>
  <mat-error><strong>{{error}}</strong></mat-error>
</form>