.login-toolbar{
    /*background: #fff;*/
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow:2px 6px 12px -6px rgba(0,0,0,0.6);
    -moz-box-shadow:2px 6px 12px -6px rgba(0,0,0,0.6);
    box-shadow:2px 6px 12px -6px rgba(0,0,0,0.6);
}
.login-toolbar h1{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.tab-wrapper{
    margin-top: 50px;
    background: #fff;
    -webkit-box-shadow:  0 0 26px 2px #d8d8d8;
    -moz-box-shadow:  0 0 26px 2px #d8d8d8;
    box-shadow:  0 0 26px 2px #d8d8d8;
    border: 1px solid #0277bd;
    border-top: 4px solid #0277bd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
form{
    padding: 25px;
}
.input-full-width{
    display: inline;
}
.mat-input-flex .mat-input-infix{
    padding-left: 10px;
    padding-right: 10px;
}
.login-page-link{
    font-size: 15px;
    text-decoration: none;
    color: #0277bd;
    margin: 5px 0;
    display: block;
}
.login-page-link:hover{
    text-decoration: underline;
}
.prefix-icon.material-icons{
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 22px;
}