h4{
    color: #adbabf;
    margin-bottom: 15px;
}
.selected-options li{
    margin: 5px;
    display: inline-block;
}
.clear-link{
    margin-left: 10px;
    font-weight: bold;
}
.priority-input{
    display: inline-block;
    width: 30%;
}
.filter-container{
    padding: 10px 16px;
}
.date-container ul li{
    display: inline-block;
    width: 49%;
}
.button-row{
    padding: 16px 0;
}
.filter-container > ul > li{
    display: inline-block;
}
.title-text {
    cursor: pointer;
}
.labels {
    width: 38px;
    text-align: end
}

mat-expansion-panel-header{
    padding-top: 21px !important;
    padding-bottom: 50px !important
}

.selectedFilter-label{
    position: fixed;
    float: left;
    margin-top:27px;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}