<div class="title-bar filter-container grey-box alternate-theme">
  <h3 class="title no-mar">
    <mat-icon class="icon-20" color="accent">filter</mat-icon>Filters</h3>
  <a href="javascript:void(0)" class="clear-link" (click)="clearAll()">Clear All</a>
</div>
<hr>
<div class="col-sm-12 no-pad">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Assigned To
        </mat-panel-title>
        <div>
          <mat-panel-description>
            <a href="javascript:void(0)" class="clear-link" (click)="clearUsers($event)">Clear</a>
          </mat-panel-description>
        </div>
        <div *ngIf="selectedString[0] !== null || selectedString[0] !== undefined" class="selectedFilter-label">
          <mat-panel-description>
            <small>{{selectedString[0]}} </small>
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <mat-panel-title>
        <small>
          <strong>Note:</strong> User not selcted will be shown all tasks</small>
      </mat-panel-title>
      <mat-input-container class="full-width">
        <input matInput DoBlur #userFilterElement placeholder="Users" ng-focus="false" [(ngModel)]="name" type="text" (input)="filter()"
          [matAutocomplete]="auto">
      </mat-input-container>
      <mat-autocomplete #auto="matAutocomplete" DoBlur>
        <mat-option *ngFor="let User of Users" (click)="addUser(User,$event)">
          <img src="{{User.profile}}" alt="Profile Picture" class="profile-img"> {{ User.firstname }} {{ User.lastname}}
        </mat-option>
      </mat-autocomplete>
      <ul class="selected-options">
        <li *ngFor="let selectedUser of SelectedUsers">
          <mat-chip-list class="selected-member">
            <mat-chip color="primary" selected="true">
              <img src="{{selectedUser.profile}}" alt="" class="profile-img round-img">
              <span>{{selectedUser.firstname}} {{selectedUser.lastname}}</span>
              <button mat-icon-button>
                <mat-icon class="delete-icon" (click)="deleteUser(selectedUser)">cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </li>
      </ul>
    </mat-expansion-panel>
    <hr>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Due Date
        </mat-panel-title>
        <div *ngIf="selectedString[1] !== null || selectedString[1] !== undefined" class="selectedFilter-label">
          <mat-panel-description>
            <small>{{selectedString[1]}}</small>
          </mat-panel-description>
        </div>
        <div>
          <mat-panel-title>
            <a href="javascript:void(0)" class="clear-link" (click)="clearDate($event)" style="float: right">Clear</a>
          </mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <ul>
        <li>
          <label for="" class="labels">From</label>
          <mat-form-field>
            <input matInput (dateChange)="filterTask()" [matDatepicker]="picker" placeholder="Choose a date" [max]="toDate" [(ngModel)]="fromDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </li>
        <li>
          <label for="" class="labels">To</label>
          <mat-form-field>
            <input matInput [matDatepicker]="pickers" placeholder="Choose a date" [min]="fromDate" [(ngModel)]="toDate" (dateChange)="filterTask()">
            <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
            <mat-datepicker #pickers></mat-datepicker>
          </mat-form-field>
        </li>
      </ul>
    </mat-expansion-panel>
    <hr>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Prority
        </mat-panel-title>
        <div *ngIf="selectedString[2] !== null || selectedString[2] !== undefined" class="selectedFilter-label">
          <mat-panel-description>
            <small>{{selectedString[2]}}</small>
          </mat-panel-description>
        </div>
        <div>
          <mat-panel-title>
            <a href="javascript:void(0)" class="clear-link" (click)="clearPriority($event)" style="float: right">Clear</a>
          </mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <mat-form-field class="priority-input">
        <mat-select multiple="true" floatPlaceholder="never" placeholder="Priority" (change)="filterTask()" [(ngModel)]="priorityFilter">
          <mat-option *ngFor="let priority of Priority" [value]="priority.priority">
            {{priority.level}}
          </mat-option>
          <mat-option value="">Not Set</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <hr>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tags
        </mat-panel-title>
        <div *ngIf="selectedString[3] !== null || selectedString[3] !== undefined" class="selectedFilter-label">
          <mat-panel-description>
            <small>{{selectedString[3]}}</small>
          </mat-panel-description>
        </div>
        <div>
          <mat-panel-title>
            <a href="javascript:void(0)" class="clear-link" (click)="clearTags($event)" style="float: right">Clear</a>
          </mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <mat-panel-title>
        <small>
          <strong>Note:</strong> Tags not selcted will be shown all tasks </small>
      </mat-panel-title>
      <mat-input-container class="full-width">
        <input matInput #tagFilterElement placeholder="Tags" ng-focus="false" [(ngModel)]="tagName" type="text" (input)="tagFilter()"
          [matAutocomplete]="auto1">
      </mat-input-container>
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let tag of tags" (click)="addTag(tag)">{{ tag.tagName }}</mat-option>
      </mat-autocomplete>
      <ul class="selected-options">
        <li *ngFor="let selectedTag of selectedTags">
          <mat-chip-list class="selected-tag">
            <mat-chip color="primary" selected="true">
              <span class="tag-name">{{selectedTag.tagName}}</span>
              <button mat-icon-button>
                <mat-icon class="delete-icon" (click)="deleteTag(selectedTag)">cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </li>
      </ul>
    </mat-expansion-panel>
    <div class="title-bar filter-container grey-box alternate-theme">
      <h3 class="title no-mar">
        <mat-icon class="icon-20" color="accent">filter</mat-icon>Custom Filters</h3>
      <!-- <a href="javascript:void(0)" class="clear-link" (click)="clearAll()">Clear All</a> -->
    </div>
    <hr>
    <div *ngFor="let field of customFields;odd as isOdd" [ngSwitch]="field.type" [ngClass]="{'grey-box': isOdd }">
        <dropdownfilter [name]="field.name" *ngSwitchCase="customFieldTypes.Dropdown" [customFieldProperties]="field" [clear]="clearAllEvent"
          (updatedfield)="filterResponse($event)"></dropdownfilter>
        <textfilter *ngSwitchCase="customFieldTypes.Text" [name]="field.name" [customFieldProperties]="field" [clear]="clearAllEvent"
          (updatedfield)="filterResponse($event)"></textfilter>
        <textfilter *ngSwitchCase="customFieldTypes.TextArea" [name]="field.name" [customFieldProperties]="field" [clear]="clearAllEvent"
          (updatedfield)="filterResponse($event)"></textfilter>
      <hr>
    </div>
  </mat-accordion>