<div class="inner-container">
  <div class="task-name-container">
    <a class="task-name alternate-theme" (click)="inputText=!inputText">
      <strong [ngClass]="{'errorlabel': !value && customFieldProperties.isRequired}">{{name}}</strong>
      <a *ngIf="customFieldProperties.isHelpTextEnabled" href="javscript:void(0)" popover="{{customFieldProperties.helpText}}"
        popoverTitle="Hint" popoverPlacement="right" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="false" [popoverDisabled]="false"
        [popoverAnimation]="true">
        <mat-icon>help</mat-icon>
      </a>
      <span class="task-edit-icon">
        <mat-icon class="icon-20" color="accent">edit</mat-icon>
      </span>
    </a>
    <div *ngIf="!inputText">
      <p *ngIf="value" style="margin:0;">
        <small>{{value | dropdownvalue : customFieldProperties.options}}</small>
      </p>
      <p *ngIf="!value" style="margin:0;">
        <small>Not Set</small>
      </p>
    </div>
    <div>
      <div *ngIf="inputText">
        <mat-form-field>
          <mat-select placeholder="{{name}}" name="dynamicdropdown" [(ngModel)]="value">
            <mat-option *ngFor="let option of customFieldProperties.options" [value]="option.id">
              {{ option.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="customFieldProperties.isRequired && !value && !customFieldProperties.customError">{{customFieldProperties.name}} is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="customFieldProperties.isRequired && !value && customFieldProperties.customError">{{customFieldProperties.customError}}</mat-error>
        <div class="button-row text-center assignee-btn">
          <button mat-raised-button class="button grey-button" (click)="inputText=!inputText">Cancel</button>
          <button mat-raised-button class="button" color="accent" [disabled]="!value && customFieldProperties.isRequired" (click)="updateField();inputText=!inputText">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>