<div class="task-name-container ">
  <a class="task-name alternate-theme" (click)="tagEdit = !tagEdit">
    <strong>Tags</strong>
    <span class="task-edit-icon">
      <mat-icon class="icon-20" color="accent">edit</mat-icon>
    </span>
  </a>
  <div *ngIf="!tagEdit">
    <p style="margin:0;" *ngIf="taskTags.length">
      <small>{{tagString}}</small>
    </p>
    <p style="margin:0;" *ngIf="!taskTags.length">
      <small>No Tags</small>
    </p>
  </div>
  <div *ngIf="tagEdit" class="asignee-container">
    <mat-input-container class="full-width">
      <input matInput #tagFilterElement placeholder="Tags" name="tagname" ng-focus="false" type="text" [(ngModel)]="name" (input)="filter()"
        [matAutocomplete]="auto">
    </mat-input-container>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="addTagName" (click)="setTagWorkspace()" value="{{name}}">
        <strong>Add Tag "{{name}}"</strong>
      </mat-option>
      <mat-option *ngFor="let filteredTagOption of filteredTagOptions" (click)="selectOption(filteredTagOption)">
        <span class="label" [ngStyle]="{'background-color': filteredTagOption.color}"></span>{{filteredTagOption.tagName}}
        <button mat-icon-button (click)="editTag($event, filteredTagOption)" class="pull-right">
          <mat-icon class="icon-20" color="accent">edit</mat-icon>
        </button>
      </mat-option>
    </mat-autocomplete>
    <ul class="selected-options">
      <li *ngFor="let selectedTag of selectedTags">
        <mat-chip-list class="selected-tag">
          <mat-chip color="primary" selected="true" [ngStyle]="{'background-color': selectedTag.color}">
            <span class="tag-name">{{selectedTag.tagName}}</span>
            <button class="btn-30" mat-icon-button>
              <mat-icon class="delete-icon icon-20" (click)="deleteTag(selectedTag)">cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
      </li>
    </ul>
    <div class="button-row text-center assignee-btn">
      <button mat-raised-button class="button grey-button" (click)="tagEdit=!tagEdit">Cancel</button>
      <button mat-raised-button class="button" color="accent" (click)="setTagTask();tagEdit=!tagEdit;">Done</button>
    </div>
  </div>
</div>