
.notification{
    position: relative;
}
.notification-wrapper{
    background: #fdfdfd;
    overflow: auto;
}
.badge{
    width: 20px;
    height: 20px;
    line-height: 16px;
    display: inline-block;
    border-radius: 50%;
    background: #ff4747;
    position: absolute;
    left: 15px;
    top: -2px;
    padding: 2px;
}
.notification-title{
    padding: 10px 0;
    margin: 0;
    background: #f1f1f1;
}
.button-card{
    margin: 10px;
    padding: 0;
    cursor: pointer;
}
.button-card .mat-menu-item.unread-notification{
    background: #f1f1f1
}
.notification-box-title{
    margin-bottom: 0;
    font-size: 15px;
}
.notification-box-description{
    font-size: 14px;
}
.notification-message{
    color: #1f1f1f;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
.notification-align{
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    float: right;
}