<mat-menu #notification="matMenu" [overlapTrigger]="false" class="notification-menu">
  <div>
    <h4 class="text-center notification-title">Notifications</h4>
  </div>
  <div class="notification-wrapper" infiniteScroll (scrolled)="showMore()" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"
    [scrollWindow]="false">
    <mat-card *ngFor="let notification of notifications trackBy:notification.notificationId" (click)="openNotification(notification)"
      class="button-card">
      <button mat-menu-item [ngClass]="{'notification.isRead': unread-notification}">

        <div class="media">
          <div class="media-left">
              <img [src]="notification.userDetails.profile"  class="profile-img" calt="">
            </div>
            <div class="media-body">
              <p class="notification-box-title">
                <strong>{{notification.userDetails.firstname}} {{notification.userDetails.lastname}}</strong><small class="text-muted pull-right" matTooltip="{{notification.createdOn | date:'medium'}}">{{notification.createdOn | amTimeAgo}}</small>
              </p>
              <p class="notification-box-description">{{notification.message}}</p>
            </div>
          </div>
      </button>
    </mat-card>
    <mat-spinner *ngIf="!isEnd" class="spinner-30 center-spinner"  [diameter]="24" [strokeWidth]="3"></mat-spinner>
    <br>
    <p *ngIf="isEnd" class="notification-message">That's It! We're done...</p>
  </div>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="notification" class="notification-align" (click)="markNotificationsRead()">
  <mat-icon matTooltip="Notification">{{unReadCount == 0 ? 'notifications_none' : 'notifications'}}</mat-icon>
  <span class="badge" *ngIf="unReadCount > 0">{{unReadCount}}</span>
</button>