.speech-message-container{
  overflow: hidden;
}
.chat-container{
  margin: 20px 0 45px 0;    
}
.chat-container{
  overflow-y:auto;
  overflow-x: hidden;
  height: 300px;
}
.action-container{
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  background: #dedede;
  overflow: hidden;
}
.action-container ul{
  margin: 0;
}
.action-container ul li {
  display: inline-block;
}
.form{
  padding: 0 0 0 40px;
}
.form-container{
  width: 90%;
}
.user-chat,.random-chat{
  width: 100%;
}
.chat,.loading-container .dots{
  border-radius: 10px;
  margin-bottom: 10px;
  color: #000;
  padding: 10px;
  display: inline-block;
  box-shadow: 0 1px 1px #BABABA;
  clear: both;
}
.random-chat .chat,.loading-container .dots{
  background: #e1e1e1;
}
.random-chat .chat,.loading-container .dots{
  float: left;
  margin-right: 50px;
}
.user-chat .chat {
  float: right;
  margin-left: 50px;
}
.chat p{
  margin-bottom: 0;
  font-weight: 500;
  word-wrap: break-word;
}
/* animation */
.loading-container{
  position: relative;  
}
/* .loading-container .dots{
  padding: 10px;
  box-shadow: 0 1px 1px #BABABA;
} */
.loading-container .dot{
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  animation: wave 1s linear infinite;
}
.loading-container .dot:nth-child(2) {
  animation-delay: -0.8s;
}
.loading-container .dot:nth-child(3) {
  animation-delay: -0.6s;
}

@keyframes wave {
  0%,
  60%,
  100%{
    transform: initial;
  }
  30%{
    transform: translateY(-15px);
    background: #dedede;
  }
}

.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}

.micro{
  margin-left: 0px;
}

.not-micro{
  margin-left:200px;
}
.dialog-close-button{
  margin-left: auto;
}

