<mat-toolbar class="toolbar" color="primary">
  <h3>
    <mat-icon color="white">micro</mat-icon> ChatBot</h3>
  <button mat-icon-button [mat-dialog-close]="true" class="dialog-close-button">
    <mat-icon class="icon-20">close</mat-icon>
  </button>
</mat-toolbar>
<section class="speech-message-container col-sm-12">
  <div #chatbotDiv class="chat-container">
    <div *ngFor="let conversation of conversationList">
      <div class="user-chat" *ngIf="conversation.user === 'user'">
        <div class="chat">
          <p>{{conversation.message}}</p>
        </div>
      </div>
      <div class="random-chat" *ngIf="conversation.user === 'system'">
        <div class="chat">
          <p>{{conversation.message}}</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="loading-container" *ngIf="loader">
      <div class="dots">
        <span style='background-color:#f16a70' class="dot"></span>
        <span class="dot" style='background-color:#b1d877'></span>
        <span style='background-color:#bcdcda' class="dot"></span>
        <span style='background-color:#4d4d4d' class="dot"></span>
      </div>
    </div>
  </div>
  <div style="width: 600px; height: 57.500px;">
    <div style="float: left; width: 50px;" (click)="showHide()" *ngIf="!showInput">
      <button class="pull-left alternate-theme" mat-icon-button>
        <mat-icon color="accent">keyboard</mat-icon>
      </button>
    </div>
    <div style="float: left; width: 480px;" *ngIf="showInput">
      <mat-form-field floatPlaceaholder="never" class="full-width">
        <input matInput placeholder="Type a message" name="message" autocomplete="off" [ngModel]="intent.message" (ngModelChange)="traceInput($event)"
          (keyup.enter)="activateSpeechSearch()">
      </mat-form-field>
    </div>
    <div style="float: left;  width: 50px;" [ngClass]="showInput?'micro':'not-micro'">
      <button mat-icon-button *ngIf="showMic" (click)="listen()">
        <mat-icon color="accent">micro</mat-icon>
      </button>

      <button mat-icon-button *ngIf="!showMic" (click)="activateSpeechSearch()">
        <mat-icon color="accent">send</mat-icon>
      </button>
    </div>
    <br style="clear: left;" />
  </div>
</section>