.task-name{
    cursor: pointer;
    font-size: 16px;
}
.task-edit-icon{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;

}
.task-name-container .task-name:hover .task-edit-icon{
    visibility: visible;
    opacity: 1;
    transition: 0.3s all;
}
.textvalue{
    margin: 0;
    word-break: break-all;
}
pre{
    display: block ;
    padding: 9.5px;
    margin-left: -7px;
    font-size: 13px;
    line-height: 1.42857143;
    color: rgb(0, 0, 0);
    word-break: break-all;
    word-wrap: break-word;
    background-color: #ffffff; 
    border: none;
    border-radius:0;
}
textarea{
    overflow: hidden;
}