button.fixed-button.mat-fab{
    position: fixed;
    bottom: 52px;
    right: 50px;
    z-index: 1111;
}
.button .mat-button,
.button .mat-fab,
.button .mat-icon-button,
.button .mat-mini-fab,
.button.mat-raised-button{
    font-size: 15px;
    letter-spacing: 0.4px;
}
button.full-width-btn{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
}
button.close-button{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 5px;
}
.done-btn.mat-button{
    padding-top: 5px; 
    padding-bottom: 5px;
}
.social-button .button{
    color: #fff;
}
.button-row .google-button{
    background: #db4437;
}
.button-row .facebook-button{
    background: #4867aa;
}
button.grey-button{
    background: #666;
    color: #fff;
}
button.delete-button{
    background: #d27272;
    color: #fff;
}
button.invite-btn{
    font-size: 15px;
    letter-spacing: 1px;
    background: rgba(2, 119, 189, 0.44);
    border-radius: 5px;
    color: #fff;
}
.add-more-btn span{
    padding-right: 5px;
}
.mat-button-toggle{
    background-color: #0288d1 !important;
    color: #fff !important;
    font-size: 14px !important;
}
.mat-button-toggle-checked {
    background-color: #e0e0e0 !important;
    color: black !important;
}
button.border-button{
    border: 4px solid #0277bd;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}
button.btn-30{
    width: 30px;
    height: 30px;
    line-height: 30px;
}
