.table{
  margin-top: 16px;
  margin-bottom: 16px;
  background: #fff;
}
.table .mat-header-row, .table .mat-row{
  padding: 0;
  height: auto;
}
.table .mat-header-cell{
    border-bottom-width: 2px;
    font-weight: bold
}
.table .mat-header-cell, .table .mat-cell{
    padding: 8px;
    line-height: 1.42857143;
    color: #212121;
    font-size: 14px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: none;
}
.table-striped>tbody>tr{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.table>.mat-row:nth-of-type(odd){
    background-color: #f9f9f9;
}
.mat-row, .mat-header-row{
    border-bottom: none;
}
