h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    font-family: 'Quicksand', sans-serif !important;
}
h2.card-title{
    font-size: 20px;
}
.page-heading{
    position: relative;
    color: #0288d1;
}

/* .page-heading:before{
    width: 100%;
    height: 0.125rem;
    position: absolute;
    left: 0;
    content: "";
    background-size: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(2, 136, 209, 0.14) 40%, rgba(2, 136, 209, 0.1) 60%, rgba(255, 255, 255, 0));
    top: 75%;
} */

.mat-card-subtitle, .mat-card-content, .mat-card-header .mat-card-title{
    font-size: 13px !important;
}
.mat-card-header .mat-card-header-text{
    margin-left: 0;
} 
.dialog-title.mat-dialog-title{
    display: inline-block ;
}
.inner-box-title, .phase-heading{
    margin: 0;
}
.tab-heading{
    margin: 0;
    padding: 16px;
}
.accent-heading{
    color: #0288d1;
}
