.tab-wrapper{
    margin-top: 50px;
    background: #fff;
    -webkit-box-shadow:  0 0 26px 2px #d8d8d8;
    -moz-box-shadow:  0 0 26px 2px #d8d8d8;
    box-shadow:  0 0 26px 2px #d8d8d8;
    border-top: 4px solid #0277bd;
}
  .remove-link{
    display: block;
    margin-top: 10px;
}