<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12">
      <div class="tab-wrapper">
        <mat-tab-group dynamicHeight="true" class="">
          <mat-tab label="Login" class="tab">
            <app-local-login> </app-local-login>
          </mat-tab>
          <mat-tab label="Signup" class="tab" *ngIf="active">
            <app-local-signup></app-local-signup>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>