<mat-toolbar color="primary" class="box-toolbar toolbar">
  <h3 class="inner-box-title mat-dialog-title">Members</h3>
  <button mat-icon-button [mat-dialog-close]="true" class="dialog-close-button"><mat-icon class="icon-20" style="background-color:#0277bd;">close</mat-icon></button>
</mat-toolbar>
<mat-dialog-content style="height:320px;">
  <div class="invite-member-input">
    <h3>Add by user email</h3>
    <div class="add-input">
      <mat-input-container class="full-width">
        <input matInput #userFilterElement placeholder="Enter Email" ng-focus="false" [(ngModel)]="name" type="email" (input)="filter()"
          [matAutocomplete]="auto">
      </mat-input-container>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let User of Users || name" (onSelectionChange)="addUser(User)">
          <img src="{{User.profile}}" alt="" class="profile-img"> {{ User.firstname }} {{ User.lastname }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="invited-member" *ngFor="let SelectedUser of SelectedUsers">
    <mat-chip-list class="selected-member">
      <mat-chip color="primary" selected="true">
        <img src="{{SelectedUser.profile}}" alt="" class="profile-img round-img">
        <span>{{ SelectedUser.firstname }} {{ SelectedUser.lastname }}</span>
        <button mat-icon-button><mat-icon class="delete-icon" (click)="deleteUser(SelectedUser)">cancel</mat-icon></button>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="button-row invite-btn-row">
    <button mat-raised-button [mat-dialog-close]="true" class="grey-button">Cancel</button>
    <button mat-raised-button color="accent" (click)="addAllUser()" (keyup.enter)="addAllUser()" [disabled]="!SelectedUsers.length">Add</button>
  </div>
  <div [hidden]="hideTable" class="invited-member-table">
    <mat-table #table [dataSource]="dataSource" class="table table-bordered">

      <ng-container cdkColumnDef="members">
        <mat-header-cell *cdkHeaderCellDef> Member Name </mat-header-cell>
        <mat-cell *cdkCellDef="let row" class="file-name"><img src="{{row.user.profile}}" alt="" class="profile-img"> {{row.user.firstname}} {{row.user.lastname}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="role">
          <mat-header-cell *cdkHeaderCellDef> Role </mat-header-cell>
          <mat-cell *cdkCellDef="let row;" class="file-name">
            <a href="javascript:void(0);" *ngIf="isEdit != row.user._id" (click)="editUserRole(row.user._id)">{{row.role.roleName}}</a>
             <mat-form-field *ngIf="isEdit == row.user._id">
            <mat-select [disabled]="!_authorizationService.userCan(privilages.CAN_EDIT_MEMBER)"  placeholder="Select Role"
              value="{{row.role.roleName}}" [(ngModel)]="selectedRole">
              <mat-option *ngFor="let role of roles" [value]="role._id" (click)="SaveUserRole(row)">
                <mat-icon *ngIf="row.role._id == role._id">done</mat-icon>
                {{role.roleName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="actions">
        <mat-header-cell *cdkHeaderCellDef> Action </mat-header-cell>
        <mat-cell *cdkCellDef="let row;">
          <div *ngIf="loggedInUser.id != row.user._id">
            <button mat-icon-button [disabled]="!_authorizationService.userCan(privilages.CAN_DELETE_MEMBER)" (click)="deleteMember(row.user._id)">
            <mat-icon class="delete-icon red-icon">delete</mat-icon>
          </button>
          </div>
          <p *ngIf="loggedInUser.id == row.user._id">That is You!!</p>
        </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-dialog-content>