.box-toolbar{
    margin-bottom: 15px;    
}
.table{
    overflow: hidden;
}
.invited-member-table,
.invite-member-input{
    padding: 0 16px;
    overflow: hidden;
}
.invite-btn-row{
    margin-left: 16px;
}

.add-input{
    position: relative;
}
.input-delete-btn{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 111;
}
.invited-member{
    margin-bottom: 15px;
    position: relative;
}
.selected-member .mat-chip{
    margin-left: 16px;
}

.priority-input{
    display: inline-block;
    width: 30%;
    margin-left: 40px;
}

.dialog-close-button{
    margin-left: auto;
    background-color: #0376be;
}
