<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="col-md-10">
      <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex">
        <mat-tab label="Today"></mat-tab>
        <mat-tab label="Yeasterday"></mat-tab>
        <mat-tab label="Current Week"></mat-tab>
        <mat-tab label="Last Week"></mat-tab>
        <mat-tab label="Current Month"></mat-tab>
        <mat-tab label="Last Month"></mat-tab>
        <mat-tab label="LifeTime"></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<div *ngIf="todayView === true">
  <div class="row" style="margin-top:20px">
    <div class="col-md-3 col-md-offset-1">
      <div *ngIf="tableView === true && pieChartView === false">
        <div class="PhaseTitle"> Current Status 

          <button mat-button [matMenuTriggerFor]="menu" style="float: right">Select View</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="tableData()"><i class="material-icons" style="font-size:18px">dashboard</i>Tabular View</button>
            <button mat-menu-item (click)="pieChart()"><i class="material-icons" style="font-size:18px">pie_chart</i>Chart View</button>
          </mat-menu>
        </div>
        <div *ngFor="let todayStacked of allTableData">
          <div class="data-boxes">
            <span class="data-label-key"> {{todayStacked.key}}</span>
            <br/>
            <span class="data-label-value">{{todayStacked.value}}</span>
          </div>
        </div>
      </div>

      <div *ngIf="pieChartView=== true && tableView === false">
        <div class="PhaseTitle"> Current Status
          <button mat-button [matMenuTriggerFor]="menu" style="float: right">Select View</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="tableData()"><i class="material-icons" style="font-size:18px">dashboard</i>Table View</button>
            <button mat-menu-item (click)="pieChart()"><i class="material-icons" style="font-size:18px">pie_chart</i>Chart View</button>
          </mat-menu>
        </div>
        <mat-card>
          <div>
            <nvd3 [options]="options" [data]="data"></nvd3>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="col-md-7">
      <mat-card>
        <div *ngIf="loading === true">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="loading===false">
          <div>
            <nvd3 [options]="stackedOptions" [data]="stackedData"></nvd3>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="lifeTimeView === true">
  <div class="row" style="margin-top:20px">
    <div class="col-md-3 col-md-offset-1">
      <div *ngIf="tableView === true && pieChartView === false">
        <div class="PhaseTitle"> Current Status
          <button mat-button [matMenuTriggerFor]="menu" style="float: right">Select View</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="tableData()"><i class="material-icons" style="font-size:18px">dashboard</i>Tabular View</button>
            <button mat-menu-item (click)="pieChart()"><i class="material-icons" style="font-size:18px">pie_chart</i>Chart View</button>
          </mat-menu>
        </div>
        <div *ngFor="let todayStacked of allTableData">
          <div class="data-boxes">
            <span class="data-label-key"> {{todayStacked.key}}</span>
            <br/>
            <span class="data-label-value">{{todayStacked.value}}</span>
          </div>
        </div>
      </div>

      <div *ngIf="pieChartView=== true && tableView === false">
        <div class="PhaseTitle"> Current Status
          <button mat-button [matMenuTriggerFor]="menu" style="float: right">Select View</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="tableData()"><i class="material-icons" style="font-size:18px">dashboard</i>Table View</button>
            <button mat-menu-item (click)="pieChart()"><i class="material-icons" style="font-size:18px">pie_chart</i>Chart View</button>
          </mat-menu>
        </div>
        <mat-card>
          <div>
            <nvd3 [options]="options" [data]="data"></nvd3>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-7">
      <mat-card>
        <div *ngIf="loading === true">
          <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="loading===false">
          <nvd3 [options]="lifeTimeStackedOptions" [data]="lifeTimeStackedData"></nvd3>
        </div>
      </mat-card>
    </div>
  </div>
</div>
