.chart-box{
  margin-left: 150px; 
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px ;
  position: relative;
}

.card{
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}


mat-grid-tile {
  background: #28333a;
  color: white;
  font-weight: 800;
  margin-top: 30px;
  border: 1px solid #F0F0F2;
  border-radius: 5px;
  margin-bottom: 50px;
}

.data-boxes{
  text-align: center;
  float: left;
  padding: 21px;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  width: 50%;
  background: #FFFFFF;
  color: #000000;
  font-size: 21px;
}

.data-label-key {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 21px;
  line-height: 1;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.data-label-value {
  display: inline;
  padding: .2em .6em .3em;
  font-size:31px;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}


hr {
    margin-bottom: 0;
    margin-top: 0;
    width: 11%;
    border-top: 4px solid #d4d4d4;
}

.PhaseTitle{
  background: #074d79;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 21px;
  padding-top: 21px;
  font-size:21px;
}
mat-spinner{
  margin-top:160px;
  margin-bottom: 200px;
  margin-left:450px;
}
