/* You can add global styles to this file, and also import other style files */
/*@import './css/vendor/bootstrap.min.css';*/
/*@import url("https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css");*/
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"); 
@import './css/main.css';
@import './css/component/typography.css';
@import './css/component/button.css';
@import './css/component/table.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500");
@import url("https://npmcdn.com/angular2-toaster@3.0.1/toaster.css");
@import '../node_modules/nvd3/build/nv.d3.css';
.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 2px;
    padding: 10px;
    margin: 5px 5px 10px 5px;
    max-width: 294px;
    min-height: 120px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@-webkit-keyframes placeHolderShimmer {
      0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
  }
  @-moz-keyframes placeHolderShimmer {
      0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
  }
  @-o-keyframes placeHolderShimmer {
      0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
  }
  @keyframes placeHolderShimmer {
      0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
  }

.animated-background {
    -webkit-animation: placeHolderShimmer 1s infinite; /* Safari 4+ */
    -moz-animation:    placeHolderShimmer 1s infinite; /* Fx 5+ */
    -o-animation:      placeHolderShimmer 1s infinite; /* Opera 12+ */
    animation:         placeHolderShimmer 1s infinite; /* IE 10+, Fx 29+ */
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
}
.animated-content{
    margin-bottom: 5px;
    height: 8px;
}
.heading{
    height: 12px;
}
.animated-image{
    height: 40px;
    width: 40px;
    margin-top: 23px;
    float: right;
    border-radius: 5px;
}
.comment-description a {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}
/*form-override-style*/
.border{
    background: #0288d1;
    height: 5px;
    width: 50px;
    margin: 0 auto;
    position: relative;
}
.border:before {
    background: #0288d1;
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    left: -9px;
}
.border:after {
    background: #0288d1;
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    right: -14px;
}
body,.mat-card, .mat-input-container,
.mat-select,
.mat-tab-label-container .mat-tab-label,
.mat-tab-label-container .mat-tab-link,
.mat-tab-group,.content,.dialog-title,.mat-button, .mat-raised-button, .mat-icon-button,.mat-button-toggle,pre{
    font-family: 'Quicksand', sans-serif !important;
}

.mat-chip:focus{
    outline: 0 none;
}
.mat-button-toggle-label-content{
    font-weight: normal;
}
.mat-toolbar{
    font-size: initial !important;
}
.mat-button-toggle{
    padding-top: 2px;
    padding-bottom: 2px;
}
.mat-button-toggle.follow-toggle{
    padding-top: 4px;
    padding-bottom: 4px;
}
.cdk-overlay-pane .mat-dialog-container{
    position: relative;
}
.asignee-container .mat-select-trigger .mat-select-arrow, .mat-select-trigger .mat-select-underline{
       display: none;
}
.tab-wrapper .mat-tab-label{
    width: 50%;
}
button.mat-raised-button.mat-accent,
.search .mat-input-placeholder-wrapper .mat-input-placeholder,
.search .mat-tab-list .mat-tab-label,
.search .mat-tab-list .mat-tab-link{
    color: #fff;
}
.task-search .mat-input-underline{
    background-color: rgba(255, 255, 255, 0.12) !important;
}
.mat-select-disabled .mat-select-value, .mat-select-arrow, .mat-select-trigger .mat-select-placeholder,.blue-color{
    color: #4fc3f7;
}
.search-container .mat-input-infix{
    border-top: none;
}
.mat-input-placeholder-wrapper .mat-input-placeholder,.mat-tab-list .mat-tab-label, .mat-tab-list .mat-tab-link{
   color: #000;
   opacity: 1 !important;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); */
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

}
.gu-transit > .mat-card{
    opacity: 0.4 !important;
    border: 2px dashed #666;
    background: transparent;
}
.gu-transit {
    opacity: 0.3 !important;  /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20); */
}
.task-card.mat-card,.card-item .mat-card {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.task-card.mat-card:active,.card-item .mat-card:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
}
.mat-icon{
    vertical-align: middle;
}
.mat-fab .mat-icon.material-icons, .mat-fab i{
    padding: 0;
}
.mat-dialog-container .mat-dialog-content{
    margin: 0;
    padding: 0 16px
}
.title-bar,.space-align-content{
    display: flex;
    justify-content: space-between;
}
.mat-card-header-text,.overflow-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-button-toggle .mat-button-toggle-label{
      margin-bottom: 0 !important;
}
/* .notification-menu.mat-menu-panel,.notification-menu .mat-menu-item{
    max-width: 310px;
    height: auto;
    max-height: 300px;
} */
.notification-wrapper{
    max-width: 310px;
    height: auto;
    max-height: 300px;
}
.notification-menu .mat-menu-item{
    line-height: normal;
    height: auto;    
    white-space: normal;
    padding: 10px 16px;
    border-bottom: 1px solid #a5acb2;
}
.notification-menu .mat-menu-item:last-child{
    border-bottom: none;
}
.notification-menu .mat-menu-content{
    padding: 0;
}
.selected-member .mat-icon-button {
    width: 38px;
    height: 38px;
    line-height: 0;
}
.selected-member {
    padding: 0;
}
.invited-member .mat-chip:not(.mat-basic-chip),.asignee-container .mat-chip:not(.mat-basic-chip){
    padding: 0 !important;
}
.timer-chip .mat-chip:not(.mat-basic-chip){
    padding: 1px 8px 3px 7px;
}

.tab-group .mat-tab-labels .mat-tab-label{
    width: 25%;
}

  /*dialog box */

.cdk-overlay-pane .mat-dialog-container{
    padding: 0;
}
.asignee-container .mat-input-underline{
    background-color: rgba(255, 255, 255, 1.12);
}
.tag-name{
    padding-left: 5px;
}
.highlight {
    background: #caedff;
    pointer-events:none;
}
.spinner-50.mat-spinner{
    width: 50px;
}
.spinner-30.mat-spinner{
    width: 30px;
}
.center-spinner.mat-spinner {
    margin: 0 auto;
}
.readonly{
    cursor: no-drop;
}
.readonly .task-name, .readonly .input-box,.readonly .dropdown-menu-btn{
    pointer-events: none !important;
}
.errorlabel{
    color: crimson; 
}
