@import '~@angular/material/theming';
@import 'node_modules/angular2-toaster/toaster';
@include mat-core();

$my-app-primary: mat-palette($mat-light-blue, 800);
$my-app-accent:   mat-palette($mat-light-blue, 700);
$my-app-warn:    mat-palette($mat-red, 700);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);


.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue, 300);
  $alternate-accent:  mat-palette($mat-grey, 600);
  $my-app-warn: mat-palette($mat-red, 700);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent,$my-app-warn);

  @include angular-material-theme($alternate-theme);
}
