<div class="col-sm-6 col-md-4 no-pad setting-container">
  <div class="title text-center">
    <h4>Create Custom Multi Choice Field</h4>
  </div>
  <hr>
  <div class="setting-field">
    <div class="field-container">
      <form>
        <h5>Check List Name</h5>
        <mat-form-field class="full-width">
          <input matInput name="field" [(ngModel)]="customField.name" placeholder="Check List Name">
        </mat-form-field>
      </form>
    </div>
    <hr>
    <div class="field-container">
      <div [dragula]='"optionbag"' [dragulaModel]='customField.options'>
        <div *ngFor="let option of customField.options; let i = index;">
          <button *ngIf="customField.options.length != 1" class="handle" mat-icon-button>
            <mat-icon class="handle">swap_vert</mat-icon>
          </button>
          <input type="text" [(ngModel)]="option.value">
          <button *ngIf="customField.options.length != 1" mat-icon-button (click)="removeOption(i)">
            <mat-icon>close</mat-icon>
          </button>
          <button *ngIf="i==customField.options.length-1" mat-icon-button (click)="addOption(i)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="field-container">
      <mat-form-field class="full-width">
        <textarea matInput [rows]="3" name="description" [(ngModel)]="customField.description" placeholder="Description"></textarea>
      </mat-form-field>
    </div>
    <hr>
    <div class="field-container">
      <mat-slide-toggle [(ngModel)]="customField.isHelpTextEnabled">Help?</mat-slide-toggle>
      <a href="javscript:void(0)" popover="Hint for user about what details needs to be added in the field!" popoverTitle="Help!!"
        popoverPlacement="right" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="false" [popoverDisabled]="false" [popoverAnimation]="true">
        <mat-icon>help</mat-icon>
      </a>
      <mat-form-field class="full-width">
        <input matInput name="helptext" [(ngModel)]="customField.helpText" placeholder="Help">
      </mat-form-field>
    </div>
    <hr>
    <div class="field-container">
      <mat-checkbox [(ngModel)]="customField.isRequiredInTask">Available in all Tasks?</mat-checkbox>
    </div>
  </div>
  <div class="button-row text-center assignee-btn">
    <button mat-raised-button [mat-dialog-close]=null class="button grey-button">Cancel</button>
    <button mat-raised-button class="button" color="accent" (click)="saveField()">{{customField._id ? 'Update' : 'Save'}}</button>
  </div>
</div>
<div class="col-sm-6 col-md-8 output-container">
  <div class="button-container">
    <button mat-icon-button [mat-dialog-close]=null>
      <mat-icon class="icon-20">close</mat-icon>
    </button>
  </div>
  <div class="outer-container">
    <div class="inner-container">
      <div class="task-name-container">
        <a class="task-name alternate-theme">
          <strong>{{customField.name}}</strong>
          <a *ngIf="customField.isHelpTextEnabled" href="javscript:void(0)" popover="{{customField.helpText}}" popoverTitle="Hint"
            popoverPlacement="right" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="false" [popoverDisabled]="false"
            [popoverAnimation]="true">
            <mat-icon>help</mat-icon>
          </a>
        </a>
        <div>
          <div>
            <mat-list>
              <mat-list-item *ngFor="let option of customField.options">
                <mat-checkbox [(ngModel)]="option.isChecked">{{option.value}}</mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>