<div class="title-bar-shadow alternate-theme">
    <h3 class="tab-heading">
        <mat-icon class="icon-20" color="accent">attachment</mat-icon><strong>Attatchments:</strong></h3>
</div>
<mat-dialog-content style="height:432px;" [ngClass]="{'readonly': !_authorizationService.userCan(privilages.CAN_ADD_ATTACHMENT) }">
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="uploadToggle = true"> Computer </button>        
        <button mat-menu-item GoogleDrivePicker (onFileSelected)="SaveGDriveFileUrl($event)">Google Drive </button>
    </mat-menu>
    <button mat-raised-button [matMenuTriggerFor]="appMenu" color="primary" class="dropdown-menu-btn">Attatchments <span class="caret"></span></button>
    <div *ngIf="uploadToggle" class="row alternate-theme">
        <div class="col-md-12 text-center">
            <div class="input-box">
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
                    class="my-drop-zone box">
                    <form action="" method="post" enctype="multipart/form-data">
                        <mat-icon class="icon-70 file-icon" color="accent">system_update_alt</mat-icon>
                        <input type="file" class="upload-file" id="upload-file" name="file" multiple="multiple" ng2FileSelect [uploader]="uploader"/>
                        <label id="upload-file-label" for="upload-file" class="upload-file-label"></label>
                        <span class="box-title">Choose a File or Drag it here</span>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="uploader.queue.length" class="text-center">
            <button color="primary" type="button" mat-raised-button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <mat-icon class="icon-20">file_upload</mat-icon> Upload all
                </button>
            <button type="button" mat-raised-button (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading" class="grey-button">
                    <mat-icon class="icon-20">not_interested</mat-icon> Cancel all
                </button>
            <button type="button" mat-raised-button (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length" class="delete-button">
                    <mat-icon class="icon-20">delete</mat-icon> Delete all
                </button>
        </div>
        <div *ngIf="uploader.queue.length" class="col-md-12">
            <div class="title-bar">
                <h4>Upload queue</h4>
                <span class="length"><strong>Queue length:</strong> {{ uploader?.queue?.length }}</span>
            </div>
            <table class="table table-bordered table-striped alternate-theme">
                <thead>
                    <tr>
                        <th width="60%">Name</th>
                        <th width="10%">Status</th>
                        <th width="30%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess" mat-tooltip="Success"><mat-icon class="icon-20" color="accent">done</mat-icon></span>
                            <span *ngIf="item.isCancel" mat-tooltip="Cancel"> <mat-icon class="icon-20">not_interested</mat-icon></span>
                            <span *ngIf="item.isUploading" mat-tooltip="Uploading"><i class="material-icons">cached</i></span>
                            <span *ngIf="item.isError" mat-tooltip="Error"><mat-icon class="icon-20" color="accent">error</mat-icon></span>
                        </td>
                        <td nowrap>
                            <button color="primary" mat-icon-button type="button" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <mat-icon class="icon-20">file_upload</mat-icon>
                        </button>
                            <button mat-icon-button type="button" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <mat-icon class="icon-20">not_interested</mat-icon>
                        </button>
                            <button [disabled]="!_authorizationService.userCan(privilages.CAN_DELETE_ATTACHMENT)" mat-icon-button type="button" (click)="item.remove()">
                            <mat-icon class="icon-20 red-icon">delete</mat-icon>
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div>
                    <h4>Queue progress</h4>
                    <mat-progress-bar mode="determinate" class="progress-bar" value="{{uploader.progress}}"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
    <div class="" [hidden]="tableToggle">
        <mat-table #table [dataSource]="dataSource" class="table table-bordered">

            <ng-container cdkColumnDef="userName">
                <mat-header-cell *cdkHeaderCellDef> Name </mat-header-cell>
                <mat-cell *cdkCellDef="let row" class="file-name"> {{row.originalFileName}} </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="download">
                <mat-header-cell *cdkHeaderCellDef> Action </mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <a *ngIf="!row.fileUrl" href="{{apiURL}}/task/downloadFile/{{row.fileName}}?token={{token}}" download> <mat-icon class="icon-20">file_download</mat-icon></a>
                    <a *ngIf="row.fileUrl" href="{{row.fileUrl}}" target="_blank"><img src="assets/img/googledrive_logo.png" alt="" style="width:20%;"> 
                        <mat-icon class="icon-20">open_in_new</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="uploadBy">
                <mat-header-cell *cdkHeaderCellDef> Uplaod By </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.uploadBy.firstname}} {{row.uploadBy.lastname}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="delete">
                <mat-header-cell *cdkHeaderCellDef> Delete </mat-header-cell>
                <mat-cell *cdkCellDef="let row"><button mat-icon-button (click)="deleteAttachment(row)"><mat-icon class=" red-icon">delete</mat-icon></button></mat-cell>
            </ng-container>
            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</mat-dialog-content>