.input-box{
  padding: 20px;
  background: #eff9ff;
  margin: 10px 0;

}
.box{
  border: 2px dashed #0277bd;
  overflow: hidden;
  padding: 20px;
  background: #fff;
  border-radius: 30px;
  position: relative;
}
.mat-icon.file-icon{
  display: block;
  margin: 0 auto;
}
.upload-file {
    height: 0;
    width: 0;
    display: none;
}
.upload-file-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111111;
  width: 100%;
  height: 100%;
  
}
.box-title{
  color: #0277bd;
  font-size: 20px;
  font-weight: bold;
}
.progress-bar{
  margin: 0 0 20px 0;
}
.length,.upload-btn{
  margin: 10px 0;
}
/* .file-name{
    word-break: break-all;
    white-space: pre-wrap;
} */
