.activity-log-conatiner{
    overflow: hidden;
}
.tab-conatiner{
    overflow: hidden;
}

.comment-container{
    overflow: auto;
}
.comment-box{
    overflow: hidden;
    position:  relative;
}
.comment-box .mat-card{
    position: relative;
    border-radius: 10px;
    margin: 10px 0;
}
.comment-box img{
    margin: 10px 0;
}
.other-comment-card .mat-card{
    margin-left: 70px;    
}
.user-comment-card .mat-card{
    margin-right: 70px;
}
.user-comment{
    margin-left: 17%;
}
.comment-input-container{
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    z-index: 111111;
    background: #f5f5f5;
}
.comment-input .comment-form{
    margin: 10px 0 0 50px;
}
.comment{
    position: relative;
    background: #ecf1f8;
    color: #000;
    padding: 10px;
}
 .arrow{
    position: absolute;
    top: 11px;
    width: 0; 
    height: 0; 
    z-index: 1111;
}
.left-arrow{
    left: -20px;
    border-top: 13px solid transparent;
    border-right: 26px solid #ecf1f8;
    border-bottom: 0 solid transparent;
}
 .right-arrow{
    right: -20px;
    border-top: 13px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 26px solid #ecf1f8;
}  
.left-arrow:after{
    content: '';
    box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
}
.chat-description{
    word-break: break-all;
    white-space: pre-wrap;
}
.mat-dialog-content{
    padding: 0;
}
.spinner{
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-right:5px;
}
.comment-description{
    width: 90%;
    display: inline-block;
}
.comment-information p{
    margin-bottom: 0;
}
.timeline-item{
    max-width: 80%;
    min-height: 100%;
}
.image{
    width:50px;
    height: 50px;
    border-radius: 5px;
}
.bottom-content{
    margin-top: 30px;
    width: 100px;
    height: 5px;
}
/* 
div.editable {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
} */
/* p + a{
    color: yellow;
}
.editable{
    position: relative;
}
/* pre{
    display: block;
    /* visibility: hidden; 
} 
.text-area{
    padding: 0;
    top: 0;
    left: 0;
    margin-bottom: 0;
    min-height: 70px;
    border: none;
    color: rgba(0,0,0,.7);
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    width: 100%;
    height: 100%;
    position: absolute;
    color: transparent; 
     opacity: 0;
    z-index: auto;
    position: absolute;
    line-height: 20px;
    font-size: 15px;
    transition: none;
    background: transparent !important;
}
pre{
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,.7);
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    display: block;
    -webkit-user-modify: read-write;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;
    cursor: text;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
     vertical-align: baseline; 
    background: 0 0;
     visibility: hidden; 
} */

pre{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* vertical-align: baseline; */
    background: 0 0;
    word-break: break-all;
    display: block;
}
.sharing-text{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    font: inherit;
    letter-spacing: 0;
}
.sharing-create-share-view__create-content--is-expanded {
    -webkit-animation: sharing-expand .1s ease-in;
    animation: sharing-expand .1s ease-in;
    padding: 0 0 16px 0;
    position: relative;
}
.sharing-create-share-view__create-content {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 0;
}
.comment-instruction{
    padding-left: 60px;
    padding-top: 6px;
    font-size: 12px;
    font-weight: bold; 
}
/* .mentions-input .mentions-highlighter {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
} */

textarea {
    overflow: auto;
    z-index: auto;
    position: absolute;
    line-height: 20px;
    font-size: 100%;
    transition: none;
    background: transparent !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    /* font: 13.3333px Arial; */
    /* overflow: auto; */
}

/* .sharing-textarea__textarea--clone {
    display: block;
    visibility: hidden;
} */

.sharing-textarea__textarea {
    color: rgba(0,0,0,.7);
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    width: 100%;
    height: 100%;
}
.sharing-textarea__autoresized-area {
    min-height: 70px;
}
.sharing-create-share-view .mentions-input {
    position: relative;
}

.sharing-create-share-view__url-preview-feedback, .sharing-error-tooltip, .sharing-textarea__textarea {
    line-height: 20px;
    font-weight: 400;
    font-size: 100%;
    /* font-family: Source Sans Pro,Helvetica,Arial,sans-serif; */
}
.sharing-textarea__textarea--original {
    padding: 0; 
    top: 0; 
    left: 0; 
    margin-bottom: 0; 
    min-height: 70px; 
    border: none;
    border-bottom: 1px solid #d7d7d7;
}
/* .sharing-textarea__textarea {
    color: rgba(0,0,0,.7);
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    width: 100%;
    height: 100%;
} */
.sharing-textarea__textarea--clone {
    display: block;
    visibility: hidden;
    background: white;
    background-color: transparent;
}
.mentions-input .mentions-highlighter {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.sharing-create-share-view .mentions-input {
    position: relative;
}
.mentions-input .mentions-highlighter-container {
    position: relative;
}

.text-area-container{
  margin: 10px 0 0 50px;
}

/* .mentions-input .mentions-highlighter {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    height: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
} */
