<div class="title-bar-shadow title-bar alternate-theme">

  <h3 class="tab-heading">
    <mat-icon class="icon-20" color="accent">comment</mat-icon><strong>Comments:
      </strong></h3>
  <mat-spinner class="spinner" *ngIf="isRefreshing" [diameter]="24" [strokeWidth]="3"></mat-spinner>
</div>
<div class="activity-log-conatiner">
  <mat-dialog-content #scrollMe style="height:280px;" (scroll)="onScroll()">
    <div class="tab-conatiner comment-container">
      <p class="message" *ngIf="!loading && !comentList.length">Drop your comments here!!</p>
      <!-- Animation -->
      <div *ngIf="loading">
        <!-- left-side -->
        <div class="timeline-wrapper">
          <div class="timeline-item">
            <div class="row">
              <div class="col-sm-2">
                <div class="animated-background image"></div>
              </div>
              <div class="col-sm-10">
                <div class="animated-background animated-content"></div>
                <div class="animated-background animated-content"></div>
                <div class="animated-background animated-content bottom-content pull-right"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- right-side -->
        <div class="timeline-wrapper user-comment">
          <div class="timeline-item">
            <div class="row">
              <div class="col-sm-10">
                <div class="animated-background animated-content"></div>
                <div class="animated-background animated-content"></div>
                <div class="animated-background animated-content bottom-content pull-left"></div>
              </div>
              <div class="col-sm-2">
                <div class="animated-background image"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- right-side -->
      </div>
      <!-- Animation Ends -->


      <!-- comment list iterating here -->
      <div *ngIf="!loading">
        <div *ngFor="let comment of comentList; let i = index;">
          <div class="comment-box other-comment-card" *ngIf="comment.createdBy._id !== userId ">
            <div class="col-sm-10">
              <img src="{{comment.createdBy.profile}}" matTooltip="{{comment.createdBy.firstname}}  {{comment.createdBy.lastname}}" alt=""
                class="profile-img pull-left">
              <mat-card class="comment">
                <div class="left-arrow arrow"></div>
                <p class="chat-description" [innerHTML]="comment.description"></p>
                <div class="clearfix comment-information">
                  <p class="grey-text pull-left" *ngIf="comment.isUpdated" matTooltip="{{comment.updatedOn | date:'medium'}}"><small>Edited</small></p>
                  <p class="pull-right"><small matTooltip="{{comment.createdOn | date:'medium'}}">{{ comment.createdOn |  amTimeAgo }}</small></p>
                </div>
              </mat-card>
            </div>
          </div>
          <div class="comment-box user-comment-card" *ngIf="comment.createdBy._id === userId ">
            <div class="col-sm-10 user-comment">
              <img src="{{comment.createdBy.profile}}" matTooltip="you" alt="" class="profile-img pull-right">
              <mat-card class="comment">
                <div class="right-arrow arrow"></div>
                <div>
                  <p class="comment-description" [innerHTML]="comment.description"></p>
                  <button (click)="editComment(comment,i)" mat-icon-button><mat-icon mat-tooltip="Edit Comment" class="icon-20 mat-icon material-icons" role="img" aria-hidden="true">edit</mat-icon>
                </button>
                </div>
                <div class="clearfix comment-information">
                  <p *ngIf="comment.isUpdated" matTooltip="{{comment.updatedOn | date:'medium'}}" class="grey-text pull-left"><small>Edited</small></p>
                  <p class="pull-right"><small matTooltip="{{comment.createdOn | date:'medium'}}">{{ comment.createdOn |  amTimeAgo }}</small></p>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <!-- comment list iterating here -->
    </div>
  </mat-dialog-content>
  <div class="comment-input-container">
    <div class="col-sm-12">
      <img src="{{currentProfile}}" alt="" class="profile-img pull-left">
      <div class="sharing-create-share-view__create-content sharing-create-share-view__create-content--is-expanded  text-area-container">
        <div id="ember4289" class="sharing-mentions-input mentions-input ember-view">
          <div class="mentions-highlighter-container">
            <pre #highlightContainer class="mentions-highlighter sharing-text" style="line-height: 20px; padding: 0px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; font-stretch: normal;"></pre>
            <div id="ember4296" class="sharing-textarea ember-view">
              <div id="ember4300" class="ember-view">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let User of Users" (onSelectionChange)="selectUser(User)">
                    <img src="{{User.profile}}" alt="Profile Picture" class="profile-img"> {{ User.firstname }} {{ User.lastname
                    }}
                  </mat-option>
                </mat-autocomplete>
              </div>
              <div class="sharing-textarea__autoresized-area">
                <pre class="sharing-textarea__textarea sharing-textarea__textarea--clone"><span class="sharing-text" [innerHTML]="comment.description"></span><br></pre>
                <textarea placeholder="Write here or use @ to mention someone." matInput ng-focus="true" *ngIf="!tagMember" class="sharing-textarea__textarea sharing-textarea__textarea--original ember-text-area ember-view"
                  (keydown.esc)="cancelcomment()" name="description" #message spellcheck="false" (keydown)="clear($event)"
                  (keypress)="onEnterCtrl($event)" (ngModelChange)="trceCommentDescription($event)" [ngModel]="comment.description"
                  (click)="clear($event)"></textarea>
                <textarea placeholder="Write here or use @ to mention someone." *ngIf="tagMember" #focusRef class="sharing-textarea__textarea sharing-textarea__textarea--original ember-text-area ember-view"
                  name="description" (ngModelChange)="searchUser($event)" [ngModel]="autocompleteSearch" spellcheck="false"
                  [matAutocomplete]="auto"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="pull-left comment-instruction"> Press Ctrl+Enter to Post &amp; Esc to cancel</p>
      <button *ngIf="!isedit" mat-raised-button style="float:right" color="primary" (click)="postComment()">Post</button>
      <button *ngIf="isedit" mat-raised-button style="float:right" color="primary" (click)="updateComment()">Update</button>
    </div>
  </div>