<mat-toolbar class="login-toolbar" color="primary">
  <button mat-icon-button *ngIf="backButton && !fromSignup" class="invite-btn" (click)="goBack()">
    <mat-icon class="icon-20">navigate_before</mat-icon>
  </button>
  <button style="float:right" mat-button class="invite-btn" *ngIf="fromSignup" (click)="skip()">Skip</button>
  <h1><strong>Task Manager</strong></h1>
</mat-toolbar>
<router-outlet></router-outlet>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>