.team-member-options{
    margin-bottom: 10px;
}
.form .mat-input-container{
    width: 400px;
    display: block;
    margin: 15px 0;
}
.selected-options{
    display: inline-block
}
.selected-options li{
    display: inline-block;
}
.asignee-container{
    margin: 15px 0;
}
.mat-select-trigger .mat-select-underline,
.asignee-container .mat-select-underline,
.asignee-container .mat-select-trigger .mat-select-arrow{
    display: none;
}
.button.add-assign-btn.mat-select.mat-primary {
    text-align: center;
    border-bottom: 2px solid #0277bd;
}
.button.add-assign-btn.mat-select.mat-primary .mat-select-trigger{
    text-align: center;
    border-bottom: 2px solid ;
}

.input-container.search-container.mat-input-container{
    display: block;
    margin: 10px;
    overflow: hidden;
}
.input-container.search-container.mat-input-container .mat-input-wrapper{
    padding-bottom: 0;
}
.assignee-btn{
    margin-bottom: 10px;
    margin-top: 10px;
}
.close-button.selectbox-close-btn{
    position: absolute;
    top: 19px;
    right: 15px;
    min-width: 0;
    line-height: 24px;
    padding: 0 10px;
    border-radius: 5px;
}
.mat-select-content .mat-dialog-title{
    margin-bottom: 0;
}
.task-edit-toolbar .edit-task-title{
    display: inline-block;
    margin-right: 10px;
    width: 90%;
}
.created-list span{
    margin-right: 10px;
    color: #212121;
}
.task-edit-toolbar{
    margin-bottom: 15px;
}
.created-list{
    padding:5px; 
}
.timer{
    display: flex;
    margin: 0 0 15px 16px;
}
.timer .button .timer-icon{
    margin-right: 5px; 
}
.timer .button button{
    padding-top: 2px;
    padding-bottom: 2px;
    width: 95px;
}
.timer .button{
    margin-right: 10px;
}
.timer p{
    margin-bottom: 2px;
}
.time span{
    margin-left: 5px;
}
.mat-button-toggle-checked .material-icons{
    display: none;
}
.mat-button-toggle-checked{
    padding-left: 12px;
    padding-right: 12px; 
}
.toogle-btn-container{
    margin-right: 16px;
}