<mat-toolbar color="primary" class="task-edit-toolbar toolbar">
  <h2 class="edit-task-title dialog-title overflow-ellipsis">{{task.title}}</h2>
  <button mat-icon-button [mat-dialog-close]="true" class="dialog-close-button"><mat-icon class="icon-20">close</mat-icon></button>
</mat-toolbar>
<div class="toolbar space-align-content">
  <div class="timer">
    <div class="button">
      <button mat-raised-button color="accent" [disabled]="!isValid" (click)="onToggle(time.hour,time.minute,time.second)" [disabled]="!_authorizationService.userCan(privilages.CAN_EDIT_TASK)"><mat-icon class="timer-icon icon-20">timer</mat-icon>{{buttonText}}</button>
    </div>
    <div class="time">
      <p><strong>Elapsed Time:</strong><span><small>{{time.hour}}:{{time.minute}}:{{time.second}}</small></span></p>
      <p *ngIf="task.estimateTime"><strong>Remaining Time:</strong><span *ngIf="task.estimateTime > -1 && !(remainingTime.second < 0)">
        <small>{{remainingTime.hour}}:{{remainingTime.minute}}:{{remainingTime.second}}</small>
      </span><span *ngIf="remainingTime.second < 0">Times Up</span>
      </p>
    </div>
  </div>
  <div class="toogle-btn-container">
    <mat-button-toggle [checked]="following" (change)="followTask()" class="toggle-button">{{following ? 'Follow' : 'Following'}}
      <mat-icon>done</mat-icon>
    </mat-button-toggle>
  </div>
</div>
<hr>
<app-edit-task-tabs [obj]="task" [activeTabId]="activeTabId"></app-edit-task-tabs>
<hr>
<div class="created-list text-center bottom-toolbar">
  <span><strong>Created by</strong>: <small>{{task.createdBy.firstname}} {{task.createdBy.lastname}}</small></span>
  <span><strong>Created date:</strong> <small>{{task.createdOn | date:'medium' }}</small></span>
</div>