<mat-toolbar color="primary" class="toolbar">
  <h4 class="warning-heading">Warning</h4>
  <button mat-icon-button mat-dialog-close (click)="dialogRefDelete.close(false)" class="warn-close-button"><mat-icon class="icon-20">close</mat-icon></button>
</mat-toolbar>
<div class="warning-content text-center">
  <mat-icon class="icon-70">warning</mat-icon>
  <h3 class="accent-heading">Are you sure you want to delete this item?</h3>
  <p class="warning-suggestion">This action is final and you will be unable to recover any data.</p>
</div>
<hr>
<div class="button-row text-center bottom-toolbar">
  <button mat-raised-button [mat-dialog-close]="true" color="accent" (click)="dialogRefDelete.close(true)">Yes</button>
  <button mat-raised-button mat-dialog-close class="grey-button" (click)="dialogRefDelete.close(false)">No</button>
</div>
