.warning-header{
    border-bottom: 1px solid #d4d4d4;
}
.alert-button button{
    margin-right: 5px;
}
.warning-heading{
    margin: 0;
}
.warn-close-button,.warning-suggestion{
    color: #b3b3b3;
    margin-left: auto;
}
.warning-content{
    margin: 0 auto;
    padding: 15px 10px;
}
.warning-content, .mat-icon{
    color: #cbd7e3;
}
.button-row{
    padding: 10px 0;
}